<layout-page-description>
  <ul>
    <li>코드를 조회/입력할 수 있습니다.</li>
  </ul>
</layout-page-description>

@if (!codeListDataLoad) {
  <ui-skeleton />
  <ui-skeleton />
  <ui-skeleton />
}
@else {
  <ui-splitter #splitter>
    <ui-table #table first
      [useAdd]="false"
      [useRemove]="false"
      [cols]="cols"
      [data]="codeList"
      [dataKey]="'codeId'"
      [selection]="selection"
      (refresh)="onRefresh()"
      (rowSelect)="onRowSelect($event)"
      (unRowSelect)="onRowUnselect($event)"
    />
  
    <div second>
      <system-code-detail
        [codeDetail]="codeDetail"
        (refresh)="listCode()"
        (remove)="onRemove()"
        (close)="onClose()"
      />
    </div>
  </ui-splitter>
}