<layout-page-description>
  <ul>
    <li>코드를 조회/입력할 수 있어요.</li>
  </ul>
</layout-page-description>

@if (!codeListDataLoad) {
  <ui-skeleton />
  <ui-skeleton />
  <ui-skeleton />
}
@else {
  <ui-splitter #splitter>
    <ui-tree-table #treeTable first
      [useAdd]="false"
      [useRemove]="false"
      [cols]="cols"
      [data]="codeTree"
      [dataKey]="'codeId'"
      [selection]="selection"
      (refresh)="onRefresh()"
      (nodeSelect)="onNodeSelect($event)"
      (nodeUnSelect)="onNodeUnselect($event)"
    >
      <ui-button buttons
        [size]="'small'"
        [icon]="'pi-plus'"
        [label]="'코드 추가'"
        [outlined]="true"
        (click)="addCode()"
      />
    </ui-tree-table>
  
    <div second>
      <system-code-detail
        [detail]="detail"
        (refresh)="listCode()"
        (remove)="onRemove()"
        (close)="onClose()"
      />
    </div>
  </ui-splitter>
}