<ui-split-form
  [form]="userDetailForm"
  [useRemove]="useRemove"
  (submit)="onSubmit($event)"
  (remove)="removeUser($event)"
  (close)="onClose()"
>
  <h2>사용자 정보</h2>

  <div class="input-box">
    <ui-text-field
      [control]="userDetailForm.get('userAccount')"
      [label]="'사용자 계정'"
      [readonly]="isUserNotEmpty"
    />

    @if (!isUserNotEmpty) {
      <ui-text-field
        [control]="userDetailForm.get('userPassword')"
        [label]="'사용자 비밀번호'" type="password" placeholder="12자 이내로 입력하세요"
      />
    }

    <ui-dropdown
      [control]="userDetailForm.get('userActiveYn')"
      [label]="'사용자 활성화 여부'"
      [data]="userActiveYns"
      [readonly]="isUserNotEmpty"
    >
      @if (isUserNotEmpty) {
        <ui-button button
          [severity]="'secondary'"
          (click)="updateUserActiveYn($event, userDetail?.userActiveYn === 'Y' ? 'N' : 'Y')"
        >
          {{ userDetail?.userActiveYn === 'Y' ? '비활성화' : '활성화' }}
        </ui-button>
      }
    </ui-dropdown>
  </div>

  <div class="input-box">
    <ui-checkbox-group [label]="'사용자 권한'">
      @for (role of roles; track $index) {
        <ui-checkbox
          [control]="userDetailForm.get('roles')"
          [label]="role.roleName"
          [value]="role.roleId"
        />
      }
    </ui-checkbox-group>
  </div>

  <h2>직원 정보</h2>

  <div class="input-box">
    <ui-text-field
      [control]="userDetailForm.get('employee.employeeName')"
      [label]="'직원명'"
    />

    <ui-dropdown
      [control]="userDetailForm.get('employee.genderCode')"
      [label]="'성별'"
      [data]="genderCodes"
    />

    <ui-dropdown
      [control]="userDetailForm.get('employee.departments.rankCode')"
      [label]="'직급'"
      [data]="rankCodes"
    />

    <ui-dropdown
      [control]="userDetailForm.get('employee.departments.jobTitleCode')"
      [label]="'직책'"
      [data]="jobTitleCodes"
    />
  </div>

  <div class="input-box">
    <ui-text-field
      [control]="userDetailForm.get('employee.employeeCompany.corporateName')"
      [label]="'회사(법인) 명'"
    />

    <ui-text-field
      [control]="userDetailForm.get('employee.employeeCompany.companyName')"
      [label]="'회사명'"
    />

    <ui-text-field
      [control]="userDetailForm.get('employee.employeeCompany.joinYmd')"
      [label]="'입사일자'"
    />
  </div>

  <div class="input-box">
    <ui-text-field
      [control]="userDetailForm.get('employee.departments.departmentName')"
      [label]="'부서명'"
    />
  </div>
</ui-split-form>