<form [formGroup]="userDetailForm" (ngSubmit)="onSubmit()">
  <h2>사용자 정보</h2>

  <div class="input-box">
    <ui-text-field
      [control]="userDetailForm.get('userId')"
      [label]="'사용자 ID'"
      [readonly]="true"
    />

    <ui-text-field
      [control]="userDetailForm.get('userAccount')"
      [label]="'사용자 계정'"
      [readonly]="true"
    />
  </div>

  <div class="input-box">
    <ui-text-field
      [control]="userDetailForm.get('userName')"
      [label]="'사용자 명'"
      [readonly]="true"
    />

    <!-- TODO: input 옆에 버튼 만들어서 활성화/비활성화 가능하도록 하기 -->
    <ui-text-field
      [control]="userDetailForm.get('userActiveYn')"
      [label]="'사용자 활성화 여부'"
      [readonly]="true"
    />
  </div>

  <div class="input-box">
    <ui-checkbox-group [label]="'사용자 권한'">
      @for (role of roles; track $index) {
        <ui-checkbox
          [control]="userDetailForm.get('roles')"
          [label]="role.roleName"
          [value]="role.roleId"
        />
      }
    </ui-checkbox-group>
  </div>

  <h2>직원 정보</h2>

  <div class="input-box">
    <ui-text-field
      [control]="userDetailForm.get('employee.employeeId')"
      [label]="'직원 ID'"
      [readonly]="true"
    />

    <ui-text-field
      [control]="userDetailForm.get('employee.employeeName')"
      [label]="'직원 명'"
      [readonly]="true"
    />

    <ui-text-field
      [control]="userDetailForm.get('employee.genderCodeName')"
      [label]="'성별'"
      [readonly]="true"
    />
  </div>

  <h2>직원 회사 정보</h2>

  <div class="input-box">
    <ui-text-field
      [control]="userDetailForm.get('employeeCompany.companyDisplayName')"
      [label]="'회사 명'"
      [readonly]="true"
    />

    <!-- <ui-text-field
      [control]="userDetailForm.get('employeeCompany.companyDisplayName')"
      [label]="'부서'"
      [readonly]="true"
    />

    <ui-text-field
      [control]="userDetailForm.get('employeeCompany.companyDisplayName')"
      [label]="'직급'"
      [readonly]="true"
    /> -->
  </div>
</form>