<div class="ui-tree-table">
  <ng-content select="[top]"></ng-content>
  
  <ui-table-buttons
    [value]="data"
    [title]="title"
    [text]="text"
    [fileName]="fileName"
    [excelHeader]="excelHeader"
    [useAdd]="useAdd"
    [useRemove]="useRemove"
    [useRefresh]="useRefresh"
    [useExportExcel]="useExportExcel"
    (refresh)="onRefresh($event)"
  >
    <ng-content select="[buttons]"></ng-content>
  </ui-table-buttons>

  <div class="ui-tree-table__view">
    <p-treeTable #treeTable
      [scrollHeight]="scrollHeight"
      [columns]="cols"
      [value]="data"
      [dataKey]="dataKey"
      [loading]="loading"
      [paginator]="paginator"
      [rows]="rows"
      [rowsPerPageOptions]="rowsPerPageOptions"
      [sortMode]="sortMode"
      [filterMode]="filterMode"
      [scrollable]="true"
      [selectionMode]="selectionMode"
      [(selection)]="selection"
      (onNodeSelect)="onNodeSelect($event)" 
      (onNodeUnselect)="onNodeUnselect($event)"
      (onNodeExpand)="onNodeExpand($event)"
      (onSort)="onSort($event)"
    >
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th *ngFor="let col of columns" [ttSortableColumn]="col.field">
            {{ col.header }}
            <p-treeTableSortIcon [field]="col.field" />
          </th>
        </tr>
        <tr>
          <th *ngFor="let col of columns">
            <ui-text (input)="onFilterInput($event, col)" />
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowNode let-rowData="rowData" let-columns="columns">
        <tr [ttRow]="rowNode" [ttSelectableRow]="rowNode" (dblclick)="onRowDblclick(rowData)">
          <td *ngFor="let col of columns; let i = index">
            <p-treeTableToggler [rowNode]="rowNode" (click)="onTogglerClick($event)" *ngIf="i === 0" />
            
            @if (col.valueGetter) {
              <span [innerHTML]="col.valueGetter(rowData)"></span>
            } @else {
              <span>{{ rowData[col.field] }}</span>
            }
          </td>
        </tr>
      </ng-template>
    </p-treeTable>
  </div>
</div>