.login {
  &-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    padding: 0 1.25rem;
    background-color: var(--blue-50);
    box-sizing: border-box;
  }

  &__form {
    padding: 1.875rem;
    border: 1px solid var(--surface-300);
    background-color: var(--surface-0);
  }

  &__title {
    margin-top: 0;
    margin-bottom: 1.875rem;
    font-size: 2.25rem;
  }
}
