@import 'styles/base/variables';

.login {
  &-wrapper {
    padding: 5rem 1rem 0;
    background-color: var(--gray-50);
    align-content: center;
  }

  &__form {
    max-width: 30rem;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid var(--surface-300);
    background-color: var(--surface-0);

    @media (min-width: $min-minimal-width) {
      padding: 2rem;
    }
  }

  &__title {
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 26px;

    @media (min-width: $min-medium-width) {
      font-size: 2.25rem;
    }
  }
}

.notice-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.5rem;

  > ui-skeleton {
    width: 100%;
  }

  a {
    display: block;
    overflow: hidden;
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;

    &:hover {
      text-decoration: underline;
    }

    i {
      margin-right: 0.25rem;
    }
  }
}
