<div class="login-wrapper">
  <div class="login__form">
    <h1 class="login__title">휴가&middot;급여기록부</h1>
    
    @if (noticeList?.length > 0) {
      <div class="notice-list">
        <a href="javascript:void(0)" (click)="getArticle(noticeList[0].articleId)">
          <i class="pi pi-bell"></i>
          {{ noticeList[0].articleTitle }}
        </a>

        <ui-button
          [icon]="'pi-plus'"
          [size]="'small'"
          [rounded]="true"
          [text]="true"
          [title]="'공지사항 더보기'"
          (click)="listArticleModal(2)"
        />
      </div>
    }

    <ui-card>
      <p>전에 다녔던 회사 급여명세서가 어디 있더라?</p>
      <p>찾는 건 이제 그만! 나의 회사별 휴가, 급여 데이터를 한 곳에서 편리하게 관리하세요!</p>
    </ui-card>

    <ui-form [form]="loginForm" [useSubmit]="false" (submit)="onSubmit($event)">
      <div class="input-box">
        <ui-text-field
          [block]="true"
          [control]="loginForm.get('userAccount')"
          [label]="'아이디'"
          [placeholder]="'아이디'"
        />
      </div>

      <div class="input-box">
        <ui-text-field
          [block]="true"
          [control]="loginForm.get('userPassword')"
          [label]="'비밀번호'" [placeholder]="'비밀번호'" type="password"
        />
      </div>

      <div class="input-box">
        <ui-checkbox
          [control]="loginForm.get('saveUserAccountYn')"
          [label]="'아이디 저장'"
          [value]="'Y'"
        />
      </div>

      <ui-button [block]="true" [type]="'submit'">로그인</ui-button>

      <div class="mt-3 text-center">
        <a href="javascript:void(0)" class="link" (click)="showFindMyInfoModal($event)">아이디 or 비밀번호를 잊으셨나요?</a>
      </div>
    </ui-form>
  </div>
</div>