<div class="login-wrapper">
  <div class="login__form">
    <h1 class="login__title">로그인</h1>

    <ui-form [form]="loginForm" (submit)="onSubmit($event)">
      <div class="input-box">
        <ui-text-field
          [block]="true"
          [control]="loginForm.get('userAccount')"
          [label]="'아이디'"
          [placeholder]="'아이디'"
        />
      </div>

      <div class="input-box">
        <ui-text-field
          [block]="true"
          [control]="loginForm.get('userPassword')"
          [label]="'비밀번호'" [placeholder]="'비밀번호'" type="password"
        />
      </div>

      <div class="input-box">
        <ui-checkbox
          [control]="loginForm.get('saveUserAccountYn')"
          [label]="'아이디 저장'"
          [value]="'Y'"
        />
      </div>

      <ui-button [block]="true" [type]="'submit'">
        로그인
      </ui-button>
    </ui-form>
  </div>
</div>