.layout-menu-history {
  margin-bottom: 1.25rem;

  > ul {
    display: flex;
    width: 100%;
    overflow-x: auto;
    gap: 0.875rem 1rem;

    > li {
      position: relative;
      margin-top: 0.3125rem;

      > a {
        display: block;
        padding: 0.625rem;
        border: 1px solid transparent;
        background-color: var(--primary-50);

        &:hover {
          background-color: var(--primary-100);
        }
      }

      &.active {
        > a {
          border-color: var(--primary-color);
          background-color: var(--surface-0);
        }

        > ui-button button {
          background-color: var(--primary-color);
        }
      }

      > ui-button {
        position: absolute;
        top: -0.25rem;
        right: -0.25rem;
        width: 1rem;
        height: 1rem;

        button {
          padding: 0;
        }
      }
    }
  }
}