<layout-page-description>
  <ul>
    <li>내 정보를 조회/입력할 수 있습니다.</li>
    <li>비밀번호 변경 또는 직원 정보 변경 시, 자동으로 로그아웃 처리되며 재로그인이 필요합니다.</li>
    <li>권한 조회/변경은 시스템 관리자에게 문의하시기 바랍니다.</li>
    <li>마지막 로그인 일시: {{ employeeForm.get('lastLoginDt').value | date: 'yyyy년 MM월 dd일 hh시 mm분 ss초' }}</li>
  </ul>
</layout-page-description>

@if (!employeeDataLoad) {
  <ui-skeleton />
  <ui-skeleton />
  <ui-skeleton />
}
@else {
  <ui-content-title [text]="'비밀번호 변경'" />

  <ui-form [form]="changePasswordForm" (submit)="onSubmitPassword($event)">
    <div class="input-box">
      <ui-text-field
        [control]="changePasswordForm.get('currentPassword')"
        [label]="'현재 비밀번호'" type="password" [placeholder]="'12자 이내'"
      />

      <ui-text-field
        [control]="changePasswordForm.get('newPassword')"
        [label]="'새 비밀번호'" type="password" [placeholder]="'12자 이내'"
      />

      <ui-text-field
        [control]="changePasswordForm.get('newPasswordConfirm')"
        [label]="'새 비밀번호 확인'" type="password" [placeholder]="'12자 이내'"
      />
    </div>

    <div class="ui-form__buttons">
      <ui-button
        [type]="'submit'"
        [size]="'small'"
        [icon]="'pi-check'"
        [label]="'비밀번호 변경'"
      />
    </div>
  </ui-form>

  <ui-content-title [text]="'직원 정보'" />

  <ui-form [form]="employeeForm" (submit)="onSubmitEmployee($event)">
    <div class="input-box">
      <ui-text-field
        [control]="employeeForm.get('employeeName')"
        [label]="'직원명'" [placeholder]="'30자 이내'"
      />
  
      <ui-dropdown
        [control]="employeeForm.get('genderCode')"
        [label]="'성별'"
        [data]="genderCodes"
      />

      <ui-date-field
        [control]="employeeForm.get('birthYmd')"
        [label]="'생년월일'"
        [dateFormat]="'yymmdd'"
      />

      <ui-text-field
        [control]="employeeForm.get('phoneNo')"
        [label]="'휴대폰번호'" [placeholder]="'- 제외'"
      />

      <ui-text-field
        [control]="employeeForm.get('emailAddr')"
        [label]="'이메일주소'"
      />
    </div>
  
    <div class="input-box">
      <ui-text-field
        [control]="employeeForm.get('workHistory.companyName')"
        [label]="'회사명'"
        [readonly]="true"
      />

      <ui-dropdown
        [control]="employeeForm.get('workHistory.rankCode')"
        [label]="'직위'"
        [data]="rankCodes"
        [readonly]="true"
      />
  
      <ui-dropdown
        [control]="employeeForm.get('workHistory.jobTitleCode')"
        [label]="'직책'"
        [data]="jobTitleCodes"
        [readonly]="true"
      />

      <ui-date-field
        [control]="employeeForm.get('workHistory.joinYmd')"
        [label]="'입사일자'"
        [dateFormat]="'yymmdd'"
        [readonly]="true"
      />
    </div>

    <div class="ui-form__buttons">
      <ui-button
        [type]="'submit'"
        [size]="'small'"
        [icon]="'pi-check'"
        [label]="'직원정보 저장'"
      />
      
      <ui-button
        [size]="'small'"
        [severity]="'success'"
        [icon]="'pi-refresh'"
        [label]="'새로고침'"
        (click)="onRefreshEmployee($event)"
      />
    </div>
  </ui-form>

  <ui-splitter #splitter>
    <ui-table #table first
      [title]="'근무이력 정보'"
      [useAdd]="false"
      [useRemove]="false"
      [useRefresh]="false"
      [cols]="cols"
      [data]="workHistoryList"
      [dataKey]="'workHistoryId'"
      [selection]="selection"
      (refresh)="onRefreshWorkHistory($event)"
      (rowSelect)="onRowSelect($event)"
      (unRowSelect)="onRowUnselect($event)"
    >
      <ui-button buttons
        [size]="'small'"
        [icon]="'pi-plus'"
        [label]="'근무이력 추가'"
        [outlined]="true"
        (click)="addCompany()"
      />
    </ui-table>

    <div second>
      <human-my-info-company-detail
        [workHistoryDetail]="workHistoryDetail"
        (refresh)="getEmployee()"
        (remove)="onRemove()"
        (close)="onClose()"
      />
    </div>
  </ui-splitter>
}