<h2 class="mt-2">
  {{ title }}
</h2>

<layout-page-description>
  <ul>
    <li>급여명세서를 입력할 수 있어요.</li>
    <li>회사에서 받은 급여명세서에서, 일부 존재하지 않는 지급액 및 공제액 항목은 입력하지 않고 비워두시면 돼요.</li>
    <li>예) 급여명세서에 농특세 항목 존재하나 해당사항 없음: 0을 입력</li>
    <li>예) 급여명세서에 농특세 항목 존재하지 않음: 입력하지 않고 비워두기</li>
  </ul>
</layout-page-description>

<ui-form [form]="payslipForm" (submit)="onSubmit($event)">
  <div class="ui-basic-table type1 responsive">
    <table>
      <caption>급여명세서 기본 정보</caption>
      <colgroup>
        <col style="width: 25%;">
        <col style="width: 25%;">
        <col style="width: 25%;">
        <col style="width: 25%;">
      </colgroup>
      <tbody>
        <tr>
          <th scope="row">성명</th>
          <td>{{ user?.employeeName }}</td>
          <th scope="row">입사일자</th>
          <td>{{ joinYmd }}</td>
        </tr>
        <tr>
          <th scope="row">직위</th>
          <td>
            <ui-dropdown
              [control]="payslipForm.get('rankCode')"
              [data]="rankCodes"
            />
          </td>
          <th scope="row">급여지급일</th>
          <td>
            <ui-date-field
              [control]="payslipForm.get('payslipPaymentYmd')"
              [dateFormat]="'yy-mm-dd'"
              [placeholder]="'예) 2024-03-01'"
              [showErrorMessage]="false"
              (select)="onPayslipPaymentYmdChange($event)"
              (clear)="onPayslipPaymentYmdChange()"
              (clearClick)="onPayslipPaymentYmdChange()"
            />
          </td>
        </tr>
        <tr>
          <th scope="row">비고</th>
          <td colspan="3">
            <ui-textarea
              [control]="payslipForm.get('payslipNote')"
              [placeholder]="'특이사항이 있는 경우 기입해주세요. 예) 연봉인상'"
            />
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="flex flex-wrap">
    <div class="ui-basic-table type2 flex-grow-1 mt-4 sm:w-6">
      <table>
        <caption>급여명세서 세부 내역 - 지급(지급내역, 지급액)</caption>
        <colgroup>
          <col style="width: 50%;">
          <col style="width: 50%;">
        </colgroup>
        <thead>
          <tr>
            <th scope="col" colspan="2">지급</th>
          </tr>
          <tr>
            <th scope="col">{{ salaryTypeA00code.label }}</th>
            <th scope="col">지급액</th>
          </tr>
        </thead>
        <tbody>
          @for (i of salaryAmountA00Codes; track $index) {
            <tr>
              <th scope="row">{{ i.label }}</th>
              <td>
                <ui-text-field
                  [align]="'right'"
                  [control]="getPayslipSalaryDetailControl(i.value, 'salaryAmount')"
                  (input)="onSalaryAmountChange($event, i.value, 'salaryAmount')"
                />
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>

    <div class="ui-basic-table type2 flex-grow-1 mt-4 sm:w-6">
      <table>
        <caption>급여명세서 세부 내역 - 공제(공제내역, 공제액)</caption>
        <colgroup>
          <col style="width: 50%;">
          <col style="width: 50%;">
        </colgroup>
        <thead>
          <tr>
            <th scope="col" colspan="2">공제</th>
          </tr>
          <tr>
            <th scope="col">{{ salaryTypeB00code.label }}</th>
            <th scope="col">공제액</th>
          </tr>
        </thead>
        <tbody>
          @for (i of salaryAmountB00Codes; track $index) {
            <tr>
              <th scope="row">{{ i.label }}</th>
              <td>
                <ui-text-field
                  [align]="'right'"
                  [control]="getPayslipSalaryDetailControl(i.value, 'salaryAmount')"
                  (input)="onSalaryAmountChange($event, i.value, 'salaryAmount')"
                />
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  </div>

  @if (action === actions.UPDATE || action === actions.COPY) {
    <ui-button button
      [text]="true"
      (click)="goToPayslip()"
    >
      뒤로가기
    </ui-button>
  }
</ui-form>