<div class="layout-site-title" (mouseenter)="onEditVisibleActivate()" (mouseleave)="onEditVisibleDeActivate()">
  <div class="layout-site-title__text">
    @if (isEditable) {
      <input #editName
        type="text"
        [title]="'편집'"
        [value]="name"
        (keyup)="onKeyup()"
        (keyup.enter)="onSubmit($event)"
      >
    }
    @else {
      <a [routerLink]="link" (focusin)="onEditVisibleActivate()">
        {{ name }}
      </a>
    }

    @if (isEditVisible) {
      <ui-button
        class="layout-site-title-edit"
        [title]="isEditable ? '저장' : '편집'"
        [icon]="isEditable ? 'pi-check' : 'pi-pencil'"
        [severity]="isEditable ? 'success' : 'secondary'"
        [text]="true"
        (click)="onEdit($event)"
      />
    }
  </div>
</div>