@if (!vacationListDataLoad) {
  <ui-skeleton />
  <ui-skeleton />
  <ui-skeleton />
}
@else {
  <ui-splitter [layout]="'vertical'" #splitter>
    <ui-table #table first
      [title]="tableTitle"
      [text]="tableText"
      [useAdd]="false"
      [useRemove]="false"
      [useExportExcel]="true"
      [emptymessage]="'휴가 기록이 없어요. 휴가를 사용한 적이 있다면 등록해보세요!'"
      [cols]="cols"
      [data]="vacationList"
      [dataKey]="'vacationId'"
      [selection]="selection"
      [paginator]="true"
      [fileName]="fileName"
      [excelHeader]="excelHeader"
      (refresh)="onRefresh()"
      (rowSelect)="onRowSelect($event)"
      (unRowSelect)="onRowUnselect($event)"
    >
      <ui-form top [form]="searchForm" [useSubmit]="false" (submit)="onSubmit($event)">
        <div class="grid">
          <div class="col-fixed">
            <div class="input-box">
              <ui-date-field
                [control]="searchForm.get('vacationStartYmd')"
                [label]="'휴가 시작일자로 검색'"
                [dateFormat]="'yymmdd'"
                [placeholder]="'YYYYMMDD'"
                [readonlyInput]="true"
                (select)="onSearchFormSubmit()"
                (clear)="onSearchFormSubmit()"
                (clearClick)="onSearchFormSubmit()"
              />

              <ui-date-field
                [control]="searchForm.get('vacationEndYmd')"
                [label]="'휴가 종료일자로 검색'"
                [dateFormat]="'yymmdd'"
                [placeholder]="'YYYYMMDD'"
                [readonlyInput]="true"
                (select)="onSearchFormSubmit()"
                (clear)="onSearchFormSubmit()"
                (clearClick)="onSearchFormSubmit()"
              />
            </div>
          </div>
        </div>
      </ui-form>

      <ui-button buttons
        [size]="'small'"
        [icon]="'pi-plus'"
        [label]="'휴가 등록'"
        [outlined]="true"
        (click)="addVacation()"
      />
    </ui-table>
  
    <div second>
      <human-vacation-detail
        [detail]="detail"
        (refresh)="onRefresh()"
        (remove)="onRemove()"
        (close)="onClose()"
      />
    </div>
  </ui-splitter>
}