@if (!vacationListDataLoad) {
  <ui-skeleton />
  <ui-skeleton />
  <ui-skeleton />
}
@else {
  <ui-splitter [layout]="'vertical'" #splitter>
    <ui-table #table first
      [title]="tableTitle"
      [useAdd]="false"
      [useRemove]="false"
      [cols]="cols"
      [data]="vacationListCurrent"
      [dataKey]="'vacationId'"
      [selection]="selection"
      [paginator]="true"
      (refresh)="onRefresh()"
      (rowSelect)="onRowSelect($event)"
      (unRowSelect)="onRowUnselect($event)"
    >
      <ui-button buttons
        [size]="'small'"
        [icon]="'pi-plus'"
        [label]="'휴가 등록'"
        [outlined]="true"
        (click)="addVacation()"
      />
    </ui-table>
  
    <div second>
      <human-vacation-detail
        [detail]="detail"
        (refresh)="listVacation($event)"
        (remove)="onRemove()"
        (close)="onClose()"
      />
    </div>
  </ui-splitter>
}