<ui-split-form
  [form]="detailForm"
  [useRemove]="useRemove"
  (submit)="onSubmit($event)"
  (remove)="onRemove($event)"
  (close)="onClose()"
>
  <ui-hidden-field [control]="detailForm.get('vacationId')" />
  <ui-hidden-field [control]="detailForm.get('workHistoryId')" />

  <ui-content-title [text]="'휴가 정보'" />

  <div class="grid mt-2">
    <div class="col">
      <ui-dropdown
        [control]="detailForm.get('vacationTypeCode')"
        [label]="'휴가 구분'"
        [data]="vacationTypeCodes"
      />
    </div>

    <div class="col">
      <ui-date-field
        [control]="detailForm.get('vacationStartYmd')"
        [label]="'휴가 시작일자'"
        [dateFormat]="'yymmdd'"
      />
    </div>

    <div class="col">
      <ui-date-field
        [control]="detailForm.get('vacationEndYmd')"
        [label]="'휴가 종료일자'"
        [dateFormat]="'yymmdd'"
      />
    </div>

    <div class="col">
      <ui-text-field
        [control]="detailForm.get('vacationUseCount')"
        [label]="'휴가 사용일수'"
      />
    </div>
    
    <div class="col-12">
      <ui-textarea
        [control]="detailForm.get('vacationContent')"
        [label]="'휴가 내용'"
      />
    </div>
  </div>
</ui-split-form>