<ui-split-form
  [form]="vacationDetailForm"
  [useRemove]="useRemove"
  (submit)="onSubmit($event)"
  (remove)="onRemove($event)"
  (close)="onClose()"
>
  <ui-hidden-field [control]="vacationDetailForm.get('vacationId')" />
  <ui-hidden-field [control]="vacationDetailForm.get('employeeCompanyId')" />

  <ui-content-title [text]="'휴가 정보'" />

  <div class="input-box">
    <ui-dropdown
      [control]="vacationDetailForm.get('vacationTypeCode')"
      [label]="'휴가 구분'"
      [data]="vacationTypeCodes"
    />

    <ui-date-field
      [control]="vacationDetailForm.get('vacationStartYmd')"
      [label]="'휴가 시작일자'"
      [dateFormat]="'yymmdd'"
    />

    <ui-date-field
      [control]="vacationDetailForm.get('vacationEndYmd')"
      [label]="'휴가 종료일자'"
      [dateFormat]="'yymmdd'"
    />
  </div>

  <div class="input-box">
    <ui-textarea
      [control]="vacationDetailForm.get('vacationContent')"
      [label]="'휴가 내용'"
    />
  </div>
</ui-split-form>