<div class="ui-data-grid">
	<ui-data-grid-buttons
		[useAdd]="useAdd"
		[useRemove]="useRemove"
		(refresh)="onRefresh($event)"
	>
		<ng-content [select]="buttons"></ng-content>
	</ui-data-grid-buttons>

	<div [ngStyle]="style">
		<ag-grid-angular
			style="width: 100%; height: 100%;"
			class="ag-theme-quartz ui-data-grid__view"
			[modules]="modules"
			[rowSelection]="rowSelection"
			[getRowStyle]="getRowStyle"
			[rowData]="rowData"
			[columnDefs]="columnDefs"
			[overlayLoadingTemplate]="overlayLoadingTemplate"
			[overlayNoRowsTemplate]="overlayNoRowsTemplate"
			(gridReady)="onGridReady($event)"
			(cellClicked)="onCellClicked($event)"
		/>
	</div>
</div>