:root {
  --font-family: $default-font; // primeng theme 오버라이딩
}

html {
  font-size: 14px;
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: antialiased;

  @media (min-width: $min-medium-width) {
    font-size: 15px;
  }

  @media (min-width: $min-large-width) {
    font-size: 16px;
  }
}

body {
  position: relative;
  min-width: 280px;
  margin: 0;
  background-color: var(--gray-100);
  image-rendering: -webkit-optimize-contrast;
  font-family: $default-font;
  font-style: normal;
  font-weight: 400;
  letter-spacing: -0.01em;
  line-height: 1.3;
  color: var(--gray-900);
  caret-color: transparent;
  word-break: keep-all;
  word-wrap: break-word;

  @media (min-width: $min-standard-width) {
    min-width: auto;
  }
}

html,
body {
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

ul,
ol {
  margin: 0;
  // padding: 0; // 2025.01.08. p-tree 컴포넌트의 ul 태그에도 적용되어 계층구조가 표현안되는 이슈로 인해 주석처리
  list-style: none;
}

p {
  margin: 0;
}

.link {
  color: var(--primary-color);

  &:hover {
    text-decoration: underline;
  }
}