.input-box {
  display: flex;
  flex-wrap: wrap;
  gap: 1.25rem;
  margin-bottom: 1.25rem;

  > *:not(.search-button) {
    flex: 1;
  }

  .search-button {
    display: inline-flex;
    align-items: end;
  }
}

.input-button-box {
  display: flex;
  gap: 0.625rem;

  > * {
    flex: 1;
  }
}

.search-input-button-box {
  display: flex;

  > * {
    flex: 1;
  }

  .p-inputtext {
    border-right: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .p-button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}

.input-message {
  margin-top: 0.625rem;
  font-size: 0.875rem;
  color: var(--red-600);
}

.custom-label {
  display: block;
  margin-bottom: 0.3125rem;
  color: var(--text-color);
}
