<ui-split-form
  [form]="detailForm"
  [useRemove]="useRemove"
  (submit)="onSubmit($event)"
  (remove)="onRemove($event)"
  (close)="onClose()"
>
  <ui-content-title [text]="'게시판 정보'" />

  <div class="grid mt-2">
    <div class="col-4">
      <ui-text-field
        [control]="detailForm.get('boardId')"
        [label]="'게시판 ID'"
        [readonly]="true"
        [placeholder]="'자동으로 생성돼요.'"
      />
    </div>

    <div class="col-4">
      <ui-dropdown
        [control]="detailForm.get('boardTypeCode')"
        [label]="'게시판 구분'"
        [data]="boardTypeCodes"
      />
    </div>

    <div class="col-4">
      <ui-dropdown
        [control]="detailForm.get('useYn')"
        [label]="'사용 여부'"
        [data]="ynCodes"
      />
    </div>
    
    <div class="col-12">
      <ui-text-field
        [control]="detailForm.get('boardName')"
        [label]="'게시판명'"
      />
    </div>

    <div class="col-12">
      <ui-textarea
        [control]="detailForm.get('boardContent')"
        [label]="'게시판 내용'"
        [placeholder]="'게시판 화면에 보여줄 안내문구를 입력해주세요.'"
      />
    </div>
  </div>
</ui-split-form>