@if (!articleResponseDataLoad) {
  <ui-skeleton />
  <ui-skeleton />
  <ui-skeleton />
}
@else {
  <layout-page-description>
    <ul>
      <li>{{ articleResponse?.board.boardContent }}</li>
    </ul>
  </layout-page-description>
  
  <ui-table #table first
    [useAdd]="false"
    [useRemove]="false"
    [useRowIndex]="true"
    [useRowIndexDesc]="true"
    [emptymessage]="'게시글이 없어요.'"
    [cols]="cols"
    [rows]="10"
    [rowsPerPageOptions]="[10, 15, 20]"
    [data]="articleResponse?.articleList"
    [dataKey]="'articleId'"
    [selection]="selection"
    [paginator]="true"
    (refresh)="onRefresh()"
    (rowSelect)="onRowSelect($event)"
  >
    @if (articleResponse?.board.boardTypeCode === 'NOTICE' && isSystemAdmin) {
      <ui-button buttons
        [size]="'small'"
        [icon]="'pi-plus'"
        [label]="'게시글 작성'"
        [outlined]="true"
        (click)="addArticle()"
      />
    }
    @else if (articleResponse?.board.boardTypeCode !== 'NOTICE') {
      <ui-button buttons
        [size]="'small'"
        [icon]="'pi-plus'"
        [label]="'게시글 작성'"
        [outlined]="true"
        (click)="addArticle()"
      />
    }
  </ui-table>
}