@if (!articleResponseDataLoad) {
  <ui-skeleton />
  <ui-skeleton />
  <ui-skeleton />
}
@else {
  <layout-page-description>
    <ul>
      <li>{{ articleResponse?.board.boardContent }}</li>
    </ul>
  </layout-page-description>
  
  <ui-table #table first
    [useAdd]="false"
    [useRemove]="false"
    [useRowIndex]="true"
    [emptymessage]="'게시글이 없어요.'"
    [cols]="cols"
    [rows]="10"
    [rowsPerPageOptions]="[10, 15, 20]"
    [data]="articleResponse?.articleList"
    [dataKey]="'articleId'"
    [selection]="selection"
    (refresh)="onRefresh()"
    (rowSelect)="onRowSelect($event)"
  />
}