@import 'styles/base/variables';

.ui-table {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-x: auto;
  line-height: 1.5;

  &__view {
    min-width: 700px;
    font-family: inherit;

    @media (min-width: $min-large-width) {
      // min-width: 1400px;
    }
  }

  .p-datatable .p-datatable-thead > tr > th {
    padding: 0.7rem;
    border: 0;
    background-color: var(--primary-50);
  }
  
  .p-datatable .p-datatable-tbody > tr > td {
    padding: 0.9rem;
  }
}