.ui-table {
  display: flex;
  flex-direction: column;
  height: 100%;
  line-height: 1.5;

  &__view {
    font-family: inherit;
  }

  .p-datatable .p-datatable-thead > tr > th {
    padding: 0.7rem;
    border: 0;
    background-color: var(--primary-50);
  }
  
  .p-datatable .p-datatable-tbody > tr > td {
    padding: 0.9rem;
  }
}