<layout-page-description>
  <ul>
    <li>회사별 급여명세서를 조회/입력할 수 있어요.</li>
    <li>회사 입력은 <a [routerLink]="'/hm/my-info'" [queryParams]="{ menuId: getMenuIdByMenuUrl('/hm/my-info') }">마이페이지</a> &gt; 근무이력 정보에서 해주시면 돼요.</li>
  </ul>
</layout-page-description>

@if (!workHistoryListDataLoad) {
  <ui-skeleton />
  <ui-skeleton />
  <ui-skeleton />
}
@else {
  <ui-tab
    [vertical]="true"
    [tabs]="workHistoryTabList"
    [activeIndex]="activeIndex"
    (activeIndexChange)="onChange($event)"
  >
    <salary-payslip-list
      [tableTitle]="payslipTableTitle"
      [tableText]="payslipTableText"
      (refresh)="onRefresh()"
    />
  </ui-tab>
}