<layout-page-description>
  <ul>
    <li>메뉴를 조회/입력할 수 있어요.</li>
  </ul>
</layout-page-description>

@if (!sysMenuListDataLoad) {
  <ui-skeleton />
  <ui-skeleton />
  <ui-skeleton />
}
@else {
  <ui-splitter #splitter>
    <ui-tree first
      [data]="sysMenuTree"
      (refresh)="listMenu()"
      (nodeSelect)="onNodeSelect($event)"
      (nodeUnselect)="onNodeUnselect($event)"
    >
      <ui-button buttons
        [size]="'small'"
        [icon]="'pi-plus'"
        [label]="'메뉴 추가'"
        [outlined]="true"
        (click)="addMenu()"
      />
    </ui-tree>
  
    <div second>
      <system-menu-detail
        [detail]="detail"
        (refresh)="listMenu()"
        (remove)="onRemove()"
        (close)="onClose()"
      />
    </div>
  </ui-splitter>
}