<layout-page-description>
  <ul>
    <li>사용자 목록 및 상세 조회 및 추가/수정/삭제를 할 수 있습니다.</li>
    <li>특정 사용자에게 권한을 부여/회수할 수 있습니다.</li>
  </ul>
</layout-page-description>

<ui-splitter #splitter>
  <ui-data-grid first
    [useAdd]="false"
    [useRemove]="false"
    [rowData]="userList"
    [columnDefs]="columnDefs"
    (gridReady)="onGridReady($event)"
    (cellClicked)="onCellClicked($event)"
    (refresh)="onRefresh()"
  >
    <ui-button buttons
      [size]="'small'"
      [icon]="'pi-plus'"
      [label]="'사용자 추가'"
      [outlined]="true"
    />
  </ui-data-grid>

  <div second>
    <system-user-detail
      [userDetail]="userDetail"
    />
  </div>
</ui-splitter>