<layout-page-description>
  <ul>
    <li>사용자를 조회/입력할 수 있어요.</li>
    <li>사용자에게 권한을 부여/회수할 수 있어요.</li>
  </ul>
</layout-page-description>

@if (!userListDataLoad) {
  <ui-skeleton />
  <ui-skeleton />
  <ui-skeleton />
}
@else {
  <ui-splitter #splitter>
    <ui-table #table first
      [useAdd]="false"
      [useRemove]="false"
      [cols]="cols"
      [data]="userList"
      [dataKey]="'userId'"
      [selection]="selection"
      (refresh)="onRefresh()"
      (rowSelect)="onRowSelect($event)"
      (unRowSelect)="onRowUnselect($event)"
    >
      <ui-button buttons
        [size]="'small'"
        [icon]="'pi-plus'"
        [label]="'사용자 등록'"
        [outlined]="true"
        (click)="addUser()"
      />
    </ui-table>
  
    <div second>
      <system-user-detail
        [detail]="detail"
        (refresh)="listUser()"
        (remove)="onRemove()"
        (close)="onClose()"
      />
    </div>
  </ui-splitter>
}