.ui-tab {

  // 가로 탭
  &.horizontal {
    .p-tabview-nav {
      overflow-x: auto;
      overflow-y: hidden;
      width: 100%;
    }

    &.type2 {
      .p-tabview {
        li {
          &.p-highlight {
            .p-tabview-nav-link {
              border-color: transparent;
              background-color: var(--primary-color);
              color: var(--surface-0);
            }
          }
        }
      }
    }
  }

  // 세로 탭
  &.vertical {
    .p-tabview {
      display: flex;
      gap: 1rem;
  
      .p-tabview-nav {
        display: flex;
        flex-wrap: wrap;
        border: 0;
      }
  
      .p-tabview-nav-container {
        position: relative;
        width: 15.625rem;

        &:before {
          content: "";
          position: absolute;
          top: 0;
          right: 0.9375rem;
          width: 1px;
          height: 100%;
          background-color: var(--surface-b);
        }
      }
  
      .p-tabview-panels {
        width: calc(100% - 15.625rem);
      }
  
      li {
        width: 100%;
  
        .p-tabview-nav-link  {
          padding: 1rem;
          border: 0;
          border-radius: 0;
          background-color: transparent;
        }
  
        &.p-highlight {
          .p-tabview-nav-link {
            border-color: transparent;
            background-color: var(--primary-color);
            color: var(--surface-0);
          }
        }
      }
    }
  }
}