<ui-split-form
  [form]="detailForm"
  [useRemove]="useRemove"
  (submit)="onSubmit($event)"
  (remove)="onRemove($event)"
  (close)="onClose()"
>
  <ui-content-title [text]="'휴일 정보'" />

  <ui-hidden-field [control]="detailForm.get('originalYmd')" />
  <ui-hidden-field [control]="detailForm.get('userId')" />

  <div class="grid mt-2">
    <div class="col-12 md:col">
      <ui-date-field
        [control]="detailForm.get('ymd')"
        [label]="'일자'"
        [dateFormat]="'yymmdd'"
        [placeholder]="'예) 20240301'"
      />
    </div>

    <div class="col-12 md:col">
      <ui-text-field
        [control]="detailForm.get('holidayName')"
        [label]="'휴일명'"
        [placeholder]="'예) 삼일절'"
      />
    </div>

    <div class="col-12 md:col">
      <ui-dropdown
        [control]="detailForm.get('useYn')"
        [label]="'사용 여부'"
        [data]="ynCodes"
      />
    </div>
    
    <div class="col-12">
      <ui-textarea
        [control]="detailForm.get('holidayContent')"
        [label]="'휴일 내용'"
      />
    </div>
  </div>
</ui-split-form>