<div class="layout-breadcrumb">
  <ul>
    @for (item of items; track $index) {
      <li>
        @if ($index > 0) {
          <span [ngClass]="'separator pi pi-chevron-right'"></span>
        }

        @if (item.route) {
          <a [routerLink]="item.route" [queryParams]="item.queryParams">
            <span [ngClass]="[item.icon ? item.icon : '', 'text-color']"></span>
            <span class="text-primary font-semibold">{{ item.label }}</span>
          </a>
        }
        @else {
          <span>
            <span class="text-color">{{ item.label }}</span>
          </span>
        }
      </li>
    }
  </ul>
</div>