@import 'styles/base/variables';

.layout-breadcrumb {
  margin-bottom: 10px;
  padding: 0.375rem;

  @media (min-width: $min-medium-width) {
    margin-bottom: 1.25rem;
  }

  > ul {
    display: flex;
    flex-wrap: wrap;
    padding: 0;

    > li {
      display: inline-flex;
      align-items: center;

      .separator {
        margin: 0 0.40625rem;
        font-size: 0.75rem;
        color: var(--gray-600);
      }
    }
  }
}