<div class="layout-breadcrumb">
  <ul>
    @for (i of items; track $index) {
      <li>
        @if ($index > 0) {
          <span [ngClass]="'separator pi pi-chevron-right'"></span>
        }

        @if (i.route) {
          <a [routerLink]="i.route" [queryParams]="i.queryParams">
            <span [ngClass]="[i.icon ? i.icon : '', 'text-color']"></span>
            <span class="text-primary font-semibold">{{ i.label }}</span>
          </a>
        }
        @else {
          <span>
            <span class="text-color">{{ i.label }}</span>
          </span>
        }
      </li>
    }
  </ul>
</div>