.layout-breadcrumb {
  margin-bottom: 1.25rem;
  padding: 0.75rem;
  border-radius: 0.625rem;
  border: 1px solid var(--surface-300);

  > ul {
    display: flex;
    flex-wrap: wrap;

    > li {
      display: inline-flex;
      align-items: center;

      .separator {
        margin: 0 0.40625rem;
        font-size: 0.75rem;
        color: var(--gray-600);
      }
    }
  }
}