<ui-split-form
  [form]="codeDetailForm"
  [useRemove]="useRemove"
  (submit)="onSubmit($event)"
  (remove)="removeCode($event)"
  (close)="onClose()"
>
  <ui-hidden-field [control]="codeDetailForm.get('originalCodeId')" />

  <ui-content-title [text]="'코드 정보'" />

  <div class="input-box">
    <ui-text-field
      [control]="codeDetailForm.get('codeId')"
      [label]="'코드 ID'"
    />

    <ui-text-field
      [control]="codeDetailForm.get('upCodeId')"
      [label]="'상위 코드 ID'"
    />
  </div>

  <div class="input-box">
    <ui-text-field
      [control]="codeDetailForm.get('codeValue')"
      [label]="'코드 값'"
    />

    <ui-text-field
      [control]="codeDetailForm.get('codeName')"
      [label]="'코드명'"
    />
  </div>

  <div class="input-box">
    <ui-textarea
      [control]="codeDetailForm.get('codeContent')"
      [label]="'코드 내용'"
    />
  </div>

  <div class="input-box">
    <ui-text-field
      [control]="codeDetailForm.get('codeOrder')"
      [label]="'코드 순서'"
    />

    <ui-text-field
      [control]="codeDetailForm.get('codeDepth')"
      [label]="'코드 뎁스'"
    />

    <ui-dropdown
      [control]="codeDetailForm.get('useYn')"
      [label]="'사용 여부'"
      [data]="useYns"
    />
  </div>
</ui-split-form>