<ui-split-form
  [form]="detailForm"
  [useRemove]="useRemove"
  (submit)="onSubmit($event)"
  (remove)="onRemove($event)"
  (close)="onClose()"
>
  <ui-hidden-field [control]="detailForm.get('originalCodeId')" />

  <ui-content-title [text]="'코드 정보'" />

  <div class="grid mt-2">
    <div class="col-6">
      <ui-text-field
        [control]="detailForm.get('codeId')"
        [label]="'코드 ID'"
        [readonly]="isDetailNotEmpty"
      />
    </div>

    <div class="col-6">
      <ui-text-field
        [control]="detailForm.get('upCodeId')"
        [label]="'상위 코드 ID'"
      />
    </div>

    <div class="col-6">
      <ui-text-field
        [control]="detailForm.get('codeValue')"
        [label]="'코드 값'"
      />
    </div>

    <div class="col-6">
      <ui-text-field
        [control]="detailForm.get('codeName')"
        [label]="'코드명'"
      />
    </div>

    <div class="col-12">
      <ui-textarea
        [control]="detailForm.get('codeContent')"
        [label]="'코드 내용'"
      />
    </div>

    <div class="col-4">
      <ui-text-field
        [control]="detailForm.get('codeOrder')"
        [label]="'코드 순서'"
        [placeholder]="'예) 1'"
      />
    </div>

    <div class="col-4">
      <ui-text-field
        [control]="detailForm.get('codeDepth')"
        [label]="'코드 뎁스'"
        [placeholder]="'예) 1'"
      />
    </div>

    <div class="col-4">
      <ui-dropdown
        [control]="detailForm.get('useYn')"
        [label]="'사용 여부'"
        [data]="ynCodes"
      />
    </div>
  </div>
</ui-split-form>