<layout-page-description>
  <ul>
    <li>회사등록신청 건을 승인/반려할 수 있어요.</li>
  </ul>
</layout-page-description>

@if (!companyApplyListDataLoad) {
  <ui-skeleton />
  <ui-skeleton />
  <ui-skeleton />
}
@else {
  <ui-splitter #splitter>
    <ui-table #table first
      [useAdd]="false"
      [useRemove]="false"
      [cols]="cols"
      [data]="companyApplyList"
      [dataKey]="'companyApplyId'"
      [selection]="selection"
      (refresh)="onRefresh()"
      (rowSelect)="onRowSelect($event)"
      (unRowSelect)="onRowUnselect($event)"
    />
    <div second>
      <system-company-apply-detail
        [detail]="detail"
        (refresh)="onRefresh2()"
        (remove)="onRemove()"
        (close)="onClose()"
      />
    </div>
  </ui-splitter>
}