<ui-form
  [form]="detailForm"
  (submit)="onSubmit($event)"
>
  <ui-hidden-field [control]="detailForm.get('articleId')" />
  <ui-hidden-field [control]="detailForm.get('boardId')" />

  <div class="grid mt-2">
    <div class="col-12">
      <div class="grid align-items-center">
        <div class="col-fixed">
          <ui-text-field
            [control]="detailForm.get('articleWriterNickname')"
            [label]="'닉네임'"
            [placeholder]="'닉네임'"
            [tooltip]="isNicknameEditable ? '게시글 작성 후 닉네임은 변경할 수 없어요.' : ''"
            [tooltipPosition]="'bottom'"
            [readonly]="!isNicknameEditable"
          >
            <ui-checkbox button
              [control]="detailForm.get('useNicknameYn')"
              [label]="'닉네임 사용'"
              [value]="'Y'"
              [ngStyle]="{ display: 'flex' }"
              (change)="onUseNicknameYnChange($event)"
            />
          </ui-text-field>
        </div>
      </div>
    </div>

    <div class="col-12">
      <ui-text-field
        [control]="detailForm.get('articleTitle')"
        [label]="'제목'"
        [placeholder]="'제목을 입력하세요.'"
      />
    </div>

    <div class="col-12">
      <ui-editor
        [control]="detailForm.get('articleContent')"
        [label]="'내용'"
        [placeholder]="'내용을 입력하세요.'"
        [height]="'200px'"
      />
    </div>
  </div>

  @if (action === actions.UPDATE) {
    <ui-button button
      [text]="true"
      (click)="goToArticle()"
    >
      뒤로가기
    </ui-button>
  }
</ui-form>