.article-view {
  &__top {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
    padding: 1rem;
    background-color: var(--surface-50);

    &__item {
      display: flex;
      align-items: center;
      gap: 0.5rem;

      & + & {
        margin-left: 0.75rem;
        padding-left: 0.75rem;
        border-left: 1px solid var(--surface-200);
      }
    }
  }

  &__buttons {
    display: flex;
    position: sticky;
    bottom: 0;
    justify-content: flex-end;
    gap: 1rem;
    margin-top: 1rem;
  }
}