<div class="article-view">
  <div class="article-view__top">
    <div class="article-view__top__item">
      <i class="pi pi-clipboard"></i>
      <p>게시판: {{ board.boardName }}</p>
    </div>
    
    <div class="article-view__top__item">
      <i class="pi pi-user"></i>
      <p [innerHTML]="articleWriterName"></p>
    </div>

    <div class="article-view__top__item">
      <i class="pi pi-clock"></i>
      <p>{{ article.createDt }}</p>
    </div>
  </div>

  <div class="article-view__content">
    <div [innerHTML]="article.articleContent"></div>
  </div>

  <div class="article-view__buttons">
    <div class="article-view__buttons__prevnext">
      @if (articleList.length > 0) {
        <ui-button
          [icon]="'pi-chevron-left'"
          [rounded]="true"
          [text]="true"
          [severity]="'primary'"
          [disabled]="prevArticle == null"
          [title]="'이전 게시글'"
          (click)="goPrevNextArticle(prevArticle?.articleId)"
        />

        <ui-button
          [icon]="'pi-chevron-right'"
          [rounded]="true"
          [text]="true"
          [severity]="'primary'"
          [disabled]="nextArticle == null"
          [title]="'다음 게시글'"
          (click)="goPrevNextArticle(nextArticle?.articleId)"
        />
      }
    </div>

    <div class="article-view__buttons__crud">
      @if (article.articleWriterId == user.userId) {
        <ui-button
          [size]="'small'"
          [severity]="'primary'"
          (click)="updateArticle(article)"
        >
          수정
        </ui-button>
      }
  
      @if (isSystemAdmin || article.articleWriterId == user.userId) {
        <ui-button
          [size]="'small'"
          [severity]="'danger'"
          (click)="removeArticle(article.articleId)"
        >
          삭제
        </ui-button>
      }
    </div>
  </div>
</div>