<div class="salary-detail">
  <ui-form [form]="payslipForm" [useSubmit]="false">
    <div class="salary-detail__view" #salaryDetailView>
      <div class="flex justify-content-between align-items-center mt-2 mb-3 pb-3 border-bottom-1 border-gray-300">
        <h2 class="m-0" [class.blur]="isBackMode">{{ title }}</h2>

        <ui-button
          id="btnExportPdf"
          [icon]="'pi-file-pdf'"
          [rounded]="true"
          [text]="true"
          [severity]="'primary'"
          [title]="'PDF 다운로드'"
          (click)="exportPdf()"
        />
      </div>
    
      <div class="salary-detail__content">
        <div class="ui-basic-table type1" [class.blur]="isBackMode">
          <table>
            <caption>급여명세서 기본 정보</caption>
            <colgroup>
              <col style="width: 25%;">
              <col style="width: 25%;">
              <col style="width: 25%;">
              <col style="width: 25%;">
            </colgroup>
            <tbody>
              <tr>
                <th scope="row">성명</th>
                <td>{{ user?.employeeName }}</td>
                <th scope="row">입사일자</th>
                <td>{{ ngDate(payslip.joinYmd) | date: 'yyyy-MM-dd' }}</td>
              </tr>
              <tr>
                <th scope="row">직위</th>
                <td>{{ payslip.rankCodeName }}</td>
                <th scope="row">급여지급일</th>
                <td>{{ ngDate(payslip.payslipPaymentYmd) | date: 'yyyy-MM-dd' }}</td>
              </tr>
              @if (payslip.payslipNote) {
                <tr>
                  <th scope="row">비고</th>
                  <td colspan="3">{{ payslip.payslipNote }}</td>
                </tr>
              }
            </tbody>
          </table>
        </div>

        @if (prevPayslip) {
          <div id="salaryDetailUtilBox1" class="mt-3 text-right">
            <ui-checkbox
              [control]="payslipForm.get('showCompareYn')"
              [label]="'이전 달과 비교해서 보기'"
              [value]="'Y'"
              (change)="onShowCompareYnChange($event)"
            />
          </div>
        }
      
        <div class="flex flex-wrap">
          <div class="ui-basic-table type2 flex-grow-1 mt-3 sm:w-6" [class.blur]="isBackMode">
            <table>
              <caption>급여명세서 세부 내역 - 지급(지급내역, 지급액)</caption>
              <colgroup>
                <col style="width: 50%;">
                <col style="width: 50%;">
              </colgroup>
              <thead>
                <tr>
                  <th scope="col" colspan="2">지급</th>
                </tr>
                <tr>
                  <th scope="col">{{ salaryTypeA00code.label }}</th>
                  <th scope="col">지급액</th>
                </tr>
              </thead>
              <tbody>
                @for (i of payslip.payslipSalaryDetailList; track $index) {
                  @if (i.salaryTypeCode === salaryTypeA00code.value && isSalaryAmountExist(i.salaryAmount)) {
                    <tr>
                      <th scope="row">{{ i.salaryAmountCodeName }}</th>
                      <td class="text-right">
                        <div [class.salary-detail__content-compare--active]="isShowCompareActive">
                          @if (isShowCompareActive) {
                            <span
                              class="salary-detail__content-compare-text"
                              [innerHTML]="getCompareText(i.salaryAmountCompare, i.salaryAmountComparePercent)">
                            </span>
                          }

                          {{ numberWithCommas(i.salaryAmount) }}
                        </div>
                      </td>
                    </tr>
                  }
                }
              </tbody>
              <tfoot>
                <tr>
                  <th scope="row">지급총액</th>
                  <td class="text-right">
                    <div [class.salary-detail__content-compare--active]="isShowCompareActive">
                      @if (isShowCompareActive) {
                        <span
                          class="salary-detail__content-compare-text"
                          [innerHTML]="getCompareText(payslip.totalAmountCompareA00, payslip.totalAmountComparePercentA00)">
                        </span>
                      }

                      {{ numberWithCommas(payslip.totalAmountA00) }}
                    </div>
                  </td>
                </tr>
              </tfoot>
            </table>
          </div>
      
          <div class="ui-basic-table type2 flex-grow-1 mt-3 sm:w-6" [class.blur]="isBackMode">
            <table>
              <caption>급여명세서 세부 내역 - 공제(공제내역, 공제액)</caption>
              <colgroup>
                <col style="width: 50%;">
                <col style="width: 50%;">
              </colgroup>
              <thead>
                <tr>
                  <th scope="col" colspan="2">공제</th>
                </tr>
                <tr>
                  <th scope="col">{{ salaryTypeB00code.label }}</th>
                  <th scope="col">공제액</th>
                </tr>
              </thead>
              <tbody>
                @for (i of payslip.payslipSalaryDetailList; track $index) {
                  @if (i.salaryTypeCode === salaryTypeB00code.value && isSalaryAmountExist(i.salaryAmount)) {
                    <tr>
                      <th scope="row">{{ i.salaryAmountCodeName }}</th>
                      <td class="text-right">
                        <div [class.salary-detail__content-compare--active]="isShowCompareActive">
                          @if (isShowCompareActive) {
                            <span
                              class="salary-detail__content-compare-text"
                              [innerHTML]="getCompareText(i.salaryAmountCompare, i.salaryAmountComparePercent)">
                            </span>
                          }

                          {{ numberWithCommas(i.salaryAmount) }}
                        </div>
                      </td>
                    </tr>
                  }
                }
              </tbody>
              <tfoot>
                <tr>
                  <th scope="row">공제합계</th>
                  <td class="text-right">
                    <div [class.salary-detail__content-compare--active]="isShowCompareActive">
                      @if (isShowCompareActive) {
                        <span
                          class="salary-detail__content-compare-text"
                          [innerHTML]="getCompareText(payslip.totalAmountCompareB00, payslip.totalAmountComparePercentB00)">
                        </span>
                      }

                      {{ numberWithCommas(payslip.totalAmountB00) }}
                    </div>
                  </td>
                </tr>
              </tfoot>
            </table>
          </div>
        </div>
    
        <div class="mt-4 text-right" [class.blur]="isBackMode">
          <span class="text-lg">실지급액(지급총액-공제합계)</span>
          <strong class="block text-2xl">
            @if (isShowCompareActive) {
              <span
                class="ml-1 text-base font-normal"
                [innerHTML]="getCompareText(payslip.totalAmountCompare, payslip.totalAmountComparePercent)">
              </span>
            }

            {{ numberWithCommas(payslip.totalAmount) }}원
          </strong>
        </div>
      </div>
    </div>

    <div class="salary-detail__buttons">
      <div class="salary-detail__buttons__prevnext">
        @if (payslipList.length > 0) {
          <ui-button
            [icon]="'pi-chevron-left'"
            [rounded]="true"
            [text]="true"
            [severity]="'primary'"
            [disabled]="prevPayslip == null"
            [title]="'이전 급여명세서'"
            (click)="goPrevNextPayslip(prevPayslip?.payslipId, prevPayslip?.payslipPaymentYmd)"
          />

          <ui-button
            [icon]="'pi-chevron-right'"
            [rounded]="true"
            [text]="true"
            [severity]="'primary'"
            [disabled]="nextPayslip == null"
            [title]="'다음 급여명세서'"
            (click)="goPrevNextPayslip(nextPayslip?.payslipId, nextPayslip?.payslipPaymentYmd)"
          />
        }
      </div>

      <div class="salary-detail__buttons__crud">
        @if (payslip.employeeId == user?.employeeId) {
          <ui-button
            [size]="'small'"
            [severity]="'secondary'"
            [title]="'현재 급여명세서를 복사해서 새 급여명세서를 등록하는 기능이에요.'"
            (click)="updatePayslip(payslip, actions.COPY)"
          >
            복사
          </ui-button>
          
          <ui-button
            [size]="'small'"
            [severity]="'primary'"
            (click)="updatePayslip(payslip)"
          >
            수정
          </ui-button>
        }
    
        @if (isSystemAdmin || payslip.employeeId == user?.employeeId) {
          <ui-button
            [size]="'small'"
            [severity]="'danger'"
            (click)="removePayslip(payslip.payslipId)"
          >
            삭제
          </ui-button>
        }
      </div>
    </div>
  </ui-form>
</div>