<div class="app">
  @if (isLogined) {
    <layout-header />
    
    <div class="page-wrapper">
      <div class="page-wrapper__inner">
        @if (!isIndexPage) {
          <layout-breadcrumb />
        }

        <div class="page-wrapper__title-box" *ngIf="currentPageTitle$ | async">
          <h1 class="page-wrapper__title-name">
            {{ currentPageTitle$ | async }}
          </h1>

          <ui-button
            [size]="'small'"
            [icon]="hasBookmark ? 'pi-bookmark-fill' : 'pi-bookmark'"
            [outlined]="true"
            [rounded]="true"
            [text]="true"
            [title]="hasBookmark ? '메뉴 즐겨찾기 삭제' : '메뉴 즐겨찾기 추가'"
            (click)="saveMenuBookmark(currentMenu.menuBookmarkId)"
          />
        </div>

        <router-outlet />
      </div>

      @if (!isIndexPage) {
        <div class="layout-bottom-box" [class.scroll]="isScroll" #layoutBottom>
          <layout-menu-bookmark />
          <!-- <layout-menu-history /> -->
        </div>
      }
    </div>
  }
  @else {
    <router-outlet />
  }

  <ui-loading />
  <ui-message />
  <ui-confirm />
  <ui-alert />
</div>