.page-wrapper {
  padding: 5.875rem 1.5rem 1.5rem 1.5rem;

  &__inner {
    min-height: 100vh;
    padding: 1rem;
    background-color: var(--surface-0);
  }

  &__title {
    margin: 0 0 1.25rem 0;
  }
}
