<ui-tab
  [tabs]="tabList"
  [activeIndex]="activeIndex"
  (activeIndexChange)="onActiveIndexChange($event)"
>
  @if (activeIndex === 0) {
    <layout-page-description>
      <ul>
        <li>시스템에 등록된 실명 및 이메일주소를 입력하면 가입된 아이디가 이메일주소로 발송됩니다.</li>
        <li>이메일주소가 등록되어 있지 않은 경우, 시스템관리자에게 문의하시기 바랍니다.</li>
      </ul>
    </layout-page-description>

    <ui-content-title [text]="'아이디 찾기'" />

    <ui-form [form]="findAccountForm" (submit)="onSubmitFindAccount($event)">
      <div class="input-box">
        <ui-text-field
          [control]="findAccountForm.get('employeeName')"
          [label]="'실명'"
        />

        <ui-text-field
          [control]="findAccountForm.get('emailAddr')"
          [label]="'이메일주소'"
        />
      </div>

      <ui-button [block]="true" [type]="'submit'">아이디 찾기</ui-button>
    </ui-form>
  }
  @else if (activeIndex === 1) {
    <layout-page-description>
      <ul>
        <li>시스템에 등록된 아이디 및 이메일주소를 입력하면 본인인증 후, 초기화된 임의의 비밀번호가 이메일주소로 발송됩니다.</li>
        <li>이메일주소가 등록되어 있지 않은 경우, 시스템관리자에게 문의하시기 바랍니다.</li>
      </ul>
    </layout-page-description>

    <ui-content-title [text]="'비밀번호 찾기'" />
    
  }
</ui-tab>