<div>
  <ui-content-title [text]="'아이디 찾기'" />

  <layout-page-description>
    <ul>
      <li>시스템에 등록된 실명 및 이메일주소를 입력하면 가입된 아이디가 이메일주소로 발송돼요.</li>
      <li>이메일주소가 등록되어 있지 않은 경우, 시스템관리자에게 문의해주세요.</li>
    </ul>
  </layout-page-description>
  
  <ui-form [form]="findAccountForm" (submit)="onSubmitFindAccount($event)">
    <div class="grid">
      <div class="col-5">
        <ui-text-field
          [control]="findAccountForm.get('employeeName')"
          [label]="'실명'"
        />
      </div>
  
      <div class="col-5">
        <ui-text-field
          [control]="findAccountForm.get('emailAddr')"
          [label]="'이메일주소'"
        />
      </div>

      <div class="col flex align-items-end">
        <ui-button [type]="'submit'">아이디 찾기</ui-button>
      </div>
    </div>
  </ui-form>
</div>

<div class="mt-5">
  <ui-content-title [text]="'비밀번호 찾기'" />
  
  <layout-page-description>
    <ul>
      <li>시스템에 등록된 아이디 및 이메일주소를 입력하면 본인인증 후, 임시 비밀번호(2시간 유효)가 이메일주소로 발송돼요.</li>
      <li>이메일주소가 등록되어 있지 않은 경우, 시스템관리자에게 문의해주세요.</li>
    </ul>
  </layout-page-description>
  
  <ui-form [form]="findPasswordForm" (submit)="onSubmitFindPassword($event)">
    <div class="grid">
      <div class="col-5">
        <ui-text-field
          [control]="findPasswordForm.get('userAccount')"
          [label]="'아이디'"
        />
      </div>
  
      <div class="col-5">
        <ui-text-field
          [control]="findPasswordForm.get('emailAddr')"
          [label]="'이메일주소'"
        />
      </div>

      <div class="col flex align-items-end">
        <ui-button [type]="'submit'">비밀번호 찾기</ui-button>
      </div>
    </div>

    @if (userCertHistory !== null) {
      <div class="grid">
        <div class="col-10">
          <ui-text-field
            [control]="findPasswordForm.get('certCode')"
            [label]="certCodeLabel"
          />
        </div>
        
        <div class="col flex align-items-end">
          <ui-button button [type]="'submit'" [severity]="'success'">
            확인
          </ui-button>
        </div>
      </div>
    }
  </ui-form>
</div>