<span *ngIf="label" class="custom-label">
  {{ label }}
</span>

<div class="input-button-box">
  <input
    pInputText
    [pTooltip]="tooltip"
    [tooltipPosition]="tooltipPosition"
    [type]="type"
    [name]="name"
    [readonly]="readonly"
    [formControl]="formControl"
    [placeholder]="placeholder"
    [autocomplete]="autocomplete"
    [class.block]="block"
    [class.text-left]="align === 'left'"
    [class.text-center]="align === 'center'"
    [class.text-right]="align === 'right'"
    [class.readonly]="readonly"
    (keyup)="onKeyup($event)"
    (blur)="onBlur($event)"
    (input)="onInput($event)"
  >
  <ng-content select="[button]"></ng-content>
</div>

<div *ngIf="showErrorMessage && control.invalid && (control.dirty || control.touched)" class="input-message">
  {{ errorMessage }}
</div>