<layout-page-description>
  <ul>
    <li>회사를 검색할 수 있어요.</li>
    <li>찾으시는 회사가 없다면 <strong>회사등록신청</strong> 버튼을 클릭하여 등록신청할 수 있어요.</li>
  </ul>
</layout-page-description>

<ui-form [form]="searchForm" [useSubmit]="false" (submit)="onSubmit($event)">
  <!-- <div class="input-box search-box"> -->
  <div class="grid">
    <div class="col">
      <ui-autocomplete-field
        [control]="searchForm.get('companyName')"
        [label]="'회사명/법인명'"
        [placeholder]="'입력 시 자동완성 지원돼요.'"
        [data]="companyOpenAPIList"
        [optionLabel]="'corporateName'"
        [emptyMessage]="'회사가 없네요. 찾으시는 회사가 없다면 등록신청하세요!'"
        (complete)="onCompanyNameChange($event)"
        (keyup)="onCompanyNameKeyup($event)"
        (select)="onCompanyNameSelect($event)"
      />
    </div>

    <div class="col">
      <ui-text-field
        [control]="searchForm.get('registrationNo')"
        [label]="'사업자등록번호'"
      />
    </div>

    <div class="col-1 flex align-items-end">
      <ui-button
        [type]="'submit'"
        [icon]="'pi-search'"
        [class]="'search-button'"
      />
    </div>
  </div>

  @if (!companyListDataLoad) {
    <ui-skeleton />
    <ui-skeleton />
    <ui-skeleton />
  }
  @else {
    <ui-splitter [layout]="'vertical'" #splitter>
      <ui-table #table first
        [useAdd]="false"
        [useRemove]="false"
        [cols]="cols"
        [data]="companyList"
        [dataKey]="'companyId'"
        [paginator]="true"
        (refresh)="onRefresh()"
        (rowDblclick)="onRowDblClick($event)"
      >
      <ui-button buttons
        [size]="'small'"
        [icon]="'pi-plus'"
        [label]="'회사등록신청'"
        [outlined]="true"
        (click)="addCompanyApply()"
      />
      </ui-table>

      <div second>
        <search-company-detail
          (refresh)="listCompany()"
          (close)="onClose()"
        />
      </div>
    </ui-splitter>
  }
</ui-form>