<layout-page-description>
  <ul>
    <li>회사별 휴가를 조회/입력할 수 있습니다.</li>
    <li>회사 입력은 <a [routerLink]="'/hm/my-info'" [queryParams]="{ menuId: 14 }">마이페이지</a> &gt; 근무이력 정보에서 해주시기 바랍니다.</li>
  </ul>
</layout-page-description>

@if (!workHistoryListDataLoad) {
  <ui-skeleton />
  <ui-skeleton />
  <ui-skeleton />
}
@else {
  <ui-tab
    [tabs]="workHistoryTabList"
    [activeIndex]="activeIndex"
    (activeIndexChange)="onChange($event)"
  >
    <!-- <ng-container *ngIf="isNotQuit$ | async"> -->
      <ui-form [form]="caculateVacationForm" (submit)="onSubmit($event)">
        <div class="grid">
          <div class="input-box">
            <ui-text-field
              [control]="caculateVacationForm.get('joinYmd')"
              [label]="'입사일자'"
              [readonly]="true"
            />

            <ui-dropdown
              [control]="caculateVacationForm.get('annualTypeCode')"
              [label]="'연차발생기준'"
              [data]="annualTypeCodes"
              (change)="onAnnualTypeCodeChange($event)"
            />
          </div>
        </div>

        <ui-checkbox-group [label]="'휴가 계산에 포함할 휴가를 선택하세요.'">
          <div class="grid">
            <div class="col">
              <ui-card style="flex: 1;">
                <ui-checkbox-list>
                  @for (i of vacationTypeCodes; track $index) {
                    <ui-checkbox
                      [control]="caculateVacationForm.get('vacationTypeCodes')"
                      [label]="i.label"
                      [value]="i.value"
                      (change)="onSubmit($event)"
                    />
                  }
                </ui-checkbox-list>
              </ui-card>
            </div>
            
            <div class="col-fixed flex align-items-center">
              <ui-button
                [size]="'large'"
                [icon]="'pi-undo'"
                [severity]="'secondary'"
                [title]="'기본 값으로 복원'"
                [text]="true"
                (click)="onReset()"
              />
            </div>
          </div>
        </ui-checkbox-group>
      </ui-form>
    <!-- </ng-container> -->

    <human-vacation-list
      [tableTitle]="vacationTableTitle"
      [tableText]="vacationTableText"
    />
  </ui-tab>
}

<div class="mt-5">
  <ui-content-title [text]="'휴일관리'" />
  <view-my-holiday />
</div>