<div class="layout-notification">
  <button
    type="button"
    class="layout-notification__icon-text"
    [title]="notificationHtmlTitle"
    (click)="toggleNotificationList()"
  >
    <i class="pi pi-bell"></i>

    @if (notificationCount > 0) {
      <span>{{ notificationCount }}</span>
    }
  </button>

  @if (isNotificationLayerVisible) {
    <div class="layout-notification__list">
      <div class="flex justify-content-between align-items-center p-3 bg-blue-50">
        <p><span class="text-primary">{{ notificationCount }}</span>개의 읽지 않은 알림</p>

        <div class="flex justify-content-end">
          <ui-button
            [icon]="'pi-refresh'"
            [size]="'small'"
            [title]="'알림 새로고침'"
            [text]="true"
            (click)="listNotification()"
          />
        </div>
      </div>

      <ul class="max-h-18rem overflow-auto">
        @for (i of notificationList; track $index) {
          <li class="layout-notification__list-item" [class.read]="i.notificationReadDt">
            <div class="layout-notification__list-header">
              <strong class="flex gap-1">
                @if (i.notificationTypeCode == 'URGENT') {
                  <i class="pi pi-exclamation-circle text-red-600"></i>
                }
                {{ i.notificationTitle }}
              </strong>
              
              <div class="flex gap-3">
                @if (!i.notificationReadDt) {
                  <ui-button
                    [icon]="'pi-check'"
                    [severity]="'success'"
                    [title]="'알림 확인처리'"
                    [text]="true"
                    class="layout-notification__list-button"
                    (click)="updateNotificationReadDt(i.notificationId)"
                  />
                }
                
                <ui-button
                  [icon]="'pi-times'"
                  [severity]="'secondary'"
                  [title]="'알림 삭제'"
                  [text]="true"
                  class="layout-notification__list-button"
                  (click)="removeNotification(i.notificationId)"
                />
              </div>
            </div>
            
            <p class="mt-2">
              {{ i.notiticationContent }}
            </p>

            <p class="mt-2 text-600">
              {{ getCreateDt(i.createDt) }}
            </p>
          </li>
        }
      </ul>
    </div>
  }
</div>