<ui-split-form
  [form]="detailForm"
  [useRemove]="useRemove"
  (submit)="onSubmit($event)"
  (remove)="onRemove($event)"
  (close)="onClose()"
>
  <ui-hidden-field [control]="detailForm.get('companyId')" />

  <ui-content-title [text]="'회사 정보'" />

  <div class="grid mt-2">
    <div class="col-6">
      <ui-text-field
        [control]="detailForm.get('corporateName')"
        [label]="'법인명'"
      />
    </div>

    <div class="col-6">
      <ui-text-field
        [control]="detailForm.get('companyName')"
        [label]="'회사명'"
      />
    </div>

    <div class="col-6">
      <ui-text-field
        [control]="detailForm.get('registrationNo')"
        [label]="'사업자등록번호'"
      />
    </div>

    <div class="col-6">
      <ui-text-field
        [control]="detailForm.get('ceoName')"
        [label]="'대표자명'"
      />
    </div>

    <div class="col-12">
      <ui-text-field
        [control]="detailForm.get('companyAddr')"
        [label]="'회사 소재지'"
      />
    </div>
  </div>
</ui-split-form>