<div class="sign-in__wrapper">
  <div class="sign-in__form">
    <h1 class="sign-in__title">로그인</h1>

    <form (ngSubmit)="onSubmit()" [formGroup]="signInForm">
      <div class="input-box">
        <ui-text-field
          [control]="signInForm.controls['userAccount']"
          placeholder="id"
        />
      </div>

      <div class="input-box">
        <ui-text-field
          [control]="signInForm.controls['userPassword']"
          type="password" placeholder="password"
        />
      </div>

      <ui-button
        [block]="true"
        [type]="'submit'"
        [disabled]="!signInForm.valid"
      >
        로그인
      </ui-button>
    </form>
  </div>
</div>