<div class="sign-in__wrapper">
  <div class="sign-in__form">
    <h1 class="sign-in__title">로그인</h1>

    <form (ngSubmit)="onSubmit()" [formGroup]="signInForm">
      <div class="input-box">
        <input pInputText type="text" formControlName="userAccount" name="userAccount" placeholder="id">
        <div [hidden]="signInForm.controls['userAccount'].valid || !signInForm.controls['userAccount'].dirty"
          class="alert alert-danger">
          id is required
        </div>
      </div>

      <div class="input-box">
        <input pInputText type="password" formControlName="userPassword" name="userPassword" placeholder="password">
        <div [hidden]="signInForm.controls['userPassword'].valid || !signInForm.controls['userPassword'].dirty"
          class="alert alert-danger">
          password is required
        </div>
      </div>

      <div>
        <button
          pButton blockButton
          type="submit"
          [disabled]="!signInForm.valid"
        >
          로그인
        </button>
      </div>
    </form>
  </div>
</div>