<nav class="layout-menu">
  <ul class="layout-menu__depth1">
    <ng-container *ngFor="let menu1 of menuTree$ | async">
      <li
        *ngIf="menu1.upMenuId === null"
        [class.active]="((currentUpMenuId$ | async) ?? (currentMenuId$ | async)) === menu1.menuId"
        (mouseenter)="toggleSubMenu(menu1.menuId, true)"
        (mouseleave)="toggleSubMenu(menu1.menuId, false)"
        (focusin)="toggleSubMenu(menu1.menuId, true)"
        (focusout)="toggleSubMenu(menu1.menuId, false)"
      >
        @if (menu1?.children.length > 0) {
          <ui-link
            [href]="menu1.menuUrl"
            (click)="onClick($event)"
            ngClass="link"
          >
            {{ menu1.menuName }}
          </ui-link>
        }
        @else {
          <ui-router-link
            [routerLink]="menu1.menuUrl"
            [queryParams]="{ menuId: menu1.menuId }"
            ngClass="link"
          >
            {{ menu1.menuName }}
          </ui-router-link>
        }
        
        <ul
          *ngIf="menu1?.children.length > 0"
          [class.active]="activeMenuId === menu1.menuId"
          class="layout-menu__depth2"
        >
          <ng-container *ngFor="let menu2 of menu1.children">
            <li [class.active]="(currentMenuId$ | async) === menu2.menuId">
              <ui-router-link
                [routerLink]="menu2.menuUrl"
                [queryParams]="{ menuId: menu2.menuId }"
                ngClass="link"
              >
                {{ menu2.menuName }}
              </ui-router-link>
            </li>
          </ng-container>
        </ul>
      </li>
    </ng-container>
  </ul>
</nav>