<nav class="layout-menu">
  <ul class="layout-menu__depth1">
    <ng-container *ngFor="let menu1 of menuList$ | async">
      <li
        *ngIf="menu1.menuDepth === 1"
        [class.active]="activeMenuUrl?.substring(0, activeMenuUrl.lastIndexOf('/')) === menu1.menuUrl"
        (mouseenter)="toggleSubMenu(menu1.menuId, true)"
        (mouseleave)="toggleSubMenu(menu1.menuId, false)"
      >
        <ui-link [routerLink]="menu1.menuUrl">
          {{ menu1.menuName }}
        </ui-link>
        
        <ul class="layout-menu__depth2" [class.active]="activeMenuId === menu1.menuId">
          <ng-container *ngFor="let menu2 of menuList$ | async">
            <li
              *ngIf="menu2.upMenuId === menu1.menuId"
              [class.active]="activeMenuUrl === menu2.menuUrl"
            >
              <ui-link [routerLink]="menu2.menuUrl">
                {{ menu2.menuName }}
              </ui-link>
            </li>
          </ng-container>
        </ul>
      </li>
    </ng-container>
  </ul>
</nav>