.ui-splitter {
  &__buttons {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    z-index: 1;
    width: 100%;

    &:first-of-type {
      position: sticky;
      top: 0;
      padding-top: 1rem;
      margin-bottom: 1rem;
      background-color: var(--surface-0);
    }

    &:last-of-type {
      margin-top: 1rem;
      position: relative;
    }
  }

  .p-splitter-gutter {
    margin: 0 1rem;

    &:has(~ .p-splitter-panel:empty) {
      display: none;
    }
  }
  
  .p-splitter-panel {
    position: relative;
    height: 100%;

    &:has(~ .p-splitter-panel:not(:empty)) {
      &::-webkit-scrollbar {
        width: 1rem;
      }

      &::-webkit-scrollbar-thumb {
        border-radius: 0.625rem;
        background-color: var(--surface-600);

        &:hover {
          background-color: var(--surface-700);
        }
      }

      &::-webkit-scrollbar-track {
        border-radius: 0.625rem;
        background-color: var(--surface-200);
      }
    }

    &:not(:has(*)) {
      display: none;
    }

    > div {
      width: 100%;
    }
  }

  &.horizontal {
    .ui-splitter__buttons {
      padding-bottom: 1rem;
    }
    
    .p-splitter-panel {
      &:has(~ .p-splitter-panel:not(:empty)) {
        overflow-x: auto;
        padding-right: 1rem;

        .ui-table__view,
        .ui-tree-table__view {
          width: 1400px;
        }

        .ui-table__buttons-right {
          flex: auto;
        }
      }

      &:last-of-type {
        overflow-y: auto;
        padding: 0 1rem;
      }
    }
  }

  &.vertical {
    .ui-splitter__buttons {
      &:first-of-type {
        position: absolute;
        top: 0;
        right: 1rem;
        width: calc(100% - 2rem);
        background-color: transparent;
      }
    }

    .p-splitter-panel {
      &:last-of-type {
        margin-top: 1rem;
        padding: 1rem;
        border: 4px solid var(--surface-b);
      }
    }

    .p-splitter-gutter {
      display: none;
    }
  }
}