@if (!payslipListDataLoad) {
  <ui-skeleton />
  <ui-skeleton />
  <ui-skeleton />
}
@else {
  <ui-table #table first
    [title]="tableTitle"
    [text]="tableText"
    [useAdd]="false"
    [useRemove]="false"
    [useExportExcel]="true"
    [emptymessage]="'급여명세서가 없어요. 급여명세서를 등록해보세요!'"
    [cols]="cols"
    [rows]="12"
    [rowsPerPageOptions]="[12, 24, 36]"
    [data]="payslipList"
    [dataKey]="'payslipId'"
    [selection]="selection"
    [paginator]="true"
    [fileName]="fileName"
    [excelHeader]="excelHeader"
    (refresh)="onRefresh()"
    (rowSelect)="onRowSelect($event)"
  >
    <ui-form top [form]="searchForm" [useSubmit]="false" (submit)="onSubmit($event)">
      <div class="grid">
        <div class="col-3">
          <ui-date-field
            [control]="searchForm.get('payslipPaymentYYYY')"
            [label]="'급여명세서 지급 연도로 검색'"
            [view]="'year'"
            [dateFormat]="'yy'"
            [placeholder]="'YYYY'"
            [readonlyInput]="true"
            (select)="onSearchFormSubmit()"
            (clear)="onSearchFormSubmit()"
            (clearClick)="onSearchFormSubmit()"
          />
        </div>

        <div class="col-3">
          <ui-date-field
            [control]="searchForm.get('payslipPaymentMM')"
            [label]="'급여명세서 지급 월로 검색'"
            [view]="'month'"
            [dateFormat]="'mm'"
            [placeholder]="'MM'"
            [readonlyInput]="true"
            (select)="onSearchFormSubmit()"
            (clear)="onSearchFormSubmit()"
            (clearClick)="onSearchFormSubmit()"
          />
        </div>

        <div class="col-3">
          <ui-text-field
            [control]="searchForm.get('joinYmd')"
            [label]="'입사일자'"
            [readonly]="true"
          />
        </div>

        @if (searchForm.get('quitYmd').value) {
          <div class="col-3">
            <ui-text-field
              [control]="searchForm.get('quitYmd')"
              [label]="'퇴사일자'"
              [readonly]="true"
            />
          </div>
        }
      </div>
    </ui-form>

    <ui-button buttons
      [size]="'small'"
      [icon]="'pi-plus'"
      [label]="'급여명세서 등록'"
      [outlined]="true"
      (click)="addPayslip()"
    />
  </ui-table>
}