.widget {
  &-wrapper {
    display: flex;
    gap: 2rem;
    justify-content: space-between;
  }

  &-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 2rem;

    &1 {
      width: calc(100% / 3);
    }

    &2 {
      width: calc(100% / 3);
    }

    &3 {
      width: calc(100% / 3);
    }
  }

  &-box {
    width: 100%;

    &__title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid var(--surface-300);

      strong {
        font-weight: 700;
        font-size: 1.3rem;
      }
    }

    &__container {
      display: flex;
      flex-wrap: wrap;
      gap: 1rem;
    }

    &__item {
      flex: 1;
      margin-top: 0.625rem;

      &-profile {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 1rem;

        &__icon {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 3.75rem;
          height: 3.75rem;
          border-radius: 50%;
          background-color: var(--primary-50);
  
          i {
            font-size: 1.5rem;
          }
        }

        &__title {
          display: flex;
          justify-content: center;
          flex-wrap: wrap;
          font-weight: 700;
          font-size: 1.3rem;
          width: 100%;

          > span {
            display: block;
            width: 100%;
            font-weight: 400;
            font-size: 1rem;
            text-align: center;
          }
        }
      }

      ul {
        overflow: auto;
        height: 6.25rem;
        padding: 0;
      }

      &-list {
        li + li {
          margin-top: 0.9375rem;
        }
      }

      li {
        a {
          position: relative;

          &.active {
            &:before {
              content: "";
              position: absolute;
              top: 0;
              bottom: 0;
              left: calc(100% + 0.5rem);
              width: 0.5rem;
              height: 0.5rem;
              margin: auto 0;
              border-radius: 50%;
              background-color: var(--primary-color);
            }
          }
        }
      }
    }

    &__article-list {
      padding: 0;

      &-item {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 1rem;

        & + & {
          margin-top: 0.625rem;
        }

        &__bottom {
          display: flex;
          justify-content: center;
          margin-top: 1rem;
        }

        a {
          display: block;
          flex: 1;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
      
          &:hover {
            text-decoration: underline;
          }
        }

        span {
          display: block;
          width: max-content;
          font-size: 0.9rem;
          text-align: right;
        }
      }
    }
  }
}