.widget {
  &-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    flex-direction: column;
  }

  &-box {
    &__title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid var(--surface-300);

      strong {
        font-weight: 700;
        font-size: 1.3rem;
      }
    }

    &__container {
      display: flex;
      flex-wrap: wrap;
      gap: 1rem;
    }

    &__item {
      flex: 1;
      margin-top: 0.625rem;

      ul {
        overflow: auto;
        height: 6.25rem;
        padding: 0;
      }

      &-list {
        li + li {
          margin-top: 0.9375rem;
        }
      }

      li {
        a {
          position: relative;

          &.active {
            &:before {
              content: "";
              position: absolute;
              top: 0;
              bottom: 0;
              left: calc(100% + 0.5rem);
              width: 0.5rem;
              height: 0.5rem;
              margin: auto 0;
              border-radius: 50%;
              background-color: var(--primary-color);
            }
          }
        }
      }
    }
  }
}