<div class="widget-wrapper">
  <div class="widget-container widget-container1">
    <div class="widget-box widget-box1">
      <div class="widget-box__container">
        <div class="widget-box__item">
          <a
            [routerLink]="'/hm/my-info'"
            [queryParams]="{ menuId: getMenuIdByMenuUrl('/hm/my-info') }"
            [title]="'마이페이지로 이동'"
            class="widget-box__item-profile"
          >
            <div class="widget-box__item-profile__icon">
              <i class="pi pi-user"></i>
            </div>
            <p class="widget-box__item-profile__title">
              {{ user?.employeeName }}
              <span>
                {{ user?.companyName }} / {{ user?.rankCodeName }}
                
                @if (user?.quitYmd) {
                  <span class="text-primary">(퇴사)</span>
                }
                @else {
                  <span class="text-primary">(재직중)</span>
                }
              </span>
            </p>
          </a>
        </div>
      </div>
    </div>

    <div class="widget-box widget-box2">
      @if (!mainBoardListDataLoad) {
        <ui-skeleton />
        <ui-skeleton />
        <ui-skeleton />
      }
      @else {
        @if (mainBoardList?.length > 0) {
          <ui-tab
            [tabs]="mainBoardTabList"
            [activeIndex]="activeIndex"
            (activeIndexChange)="onChange($event)"
          >
            @if (!mainArticleResponseDataLoad) {
              <ui-skeleton />
              <ui-skeleton />
              <ui-skeleton />
            }
            @else {
              @if (mainArticleResponse?.articleList.length > 0) {
                <ul class="widget-box__article-list">
                  @for (i of mainArticleResponse?.articleList; track $index) {
                    <li class="widget-box__article-list-item">
                      <a href="javascript:void(0)" (click)="onArticleItemClick(i.articleId)">
                        {{ i.articleTitle }}
                      </a>
                      <span>{{ i.createDt }}</span>
                    </li>
                  }
                </ul>

                <div class="widget-box__article-list-item__bottom">
                  <ui-button
                    [icon]="'pi-plus'"
                    [rounded]="true"
                    [title]="'더보기'"
                    (click)="onArticleMoreClick(activeBoardId)"
                  />
                </div>
              }
              @else {
                <p>게시글이 없어요.</p>
              }
            }
          </ui-tab>
        }
        @else {
          <p>게시판이 없어요.</p>
        }
      }
    </div>
  </div>
  
  <div class="widget-container widget-container2">
    <div class="widget-box widget-box3">
      @if (!mainPayslipResponseDataLoad) {
        <ui-skeleton />
        <ui-skeleton />
        <ui-skeleton />
      }
      @else {
        <div class="widget-box__title">
          <strong>최근급여</strong>
          <ui-button
            [icon]="'pi-plus'"
            [text]="true"
            [title]="'자세히 보기'"
            (click)="onSalaryMoreClick()"
          />
        </div>
  
        <div class="widget-box__container">
          <div class="widget-box__item p-2">
            @if (mainPayslipResponse?.payslipList.length > 0) {
              <div class="flex justify-content-between">
                <p>
                  <span class="block">{{ ngDate(mainPayslipResponse.payslipList[0].payslipPaymentYmd) | date: 'yyyy년 MM월 dd일' }}</span>
                  <strong class="block text-3xl text-primary">{{ numberWithCommas(mainPayslipResponse.payslipList[0].totalAmount) }}원</strong>
                </p>
  
                <p class="flex flex-wrap justify-content-end">
                  <span class="flex justify-content-between align-items-center w-12rem">
                    <span class="font-bold">지급총액</span>
                    <span>{{ numberWithCommas(mainPayslipResponse.payslipList[0].totalAmountA00) }}원</span>
                  </span>
                  <span class="flex justify-content-between align-items-center w-12rem">
                    <span class="font-bold">공제합계</span>
                    <span>{{ numberWithCommas(mainPayslipResponse.payslipList[0].totalAmountB00) }}원</span>
                  </span>
                </p>
              </div>
            }
            @else {
              <p>급여내역이 없어요.</p>
            }
          </div>
        </div>
      }
    </div>

    <div class="widget-box widget-box4">
      <ui-chart
        [type]="'doughnut'"
        [height]="'300px'"
        [data]="{
          labels: ['A', 'B', 'C'],
          datasets: [
            {
              data: [300, 50, 100],
              backgroundColor: [documentStyle.getPropertyValue('--primary-500'), documentStyle.getPropertyValue('--orange-500'), documentStyle.getPropertyValue('--gray-500')],
              hoverBackgroundColor: [documentStyle.getPropertyValue('--primary-400'), documentStyle.getPropertyValue('--orange-400'), documentStyle.getPropertyValue('--gray-400')]
            }
          ]
        }"
        [options]="{
          cutout: '60%',
          plugins: {
            legend: {
              labels: {
                color: textColor
              }
            }
          }
        }"
      />
    </div>
  </div>

  <div class="widget-container widget-container3">
    <div class="widget-box widget-box5">
      @if (!vacationStatResponseDataLoad) {
        <ui-skeleton />
        <ui-skeleton />
        <ui-skeleton />
      }
      @else {
        <div class="widget-box__title">
          <strong>휴가일수</strong>
          <ui-button
            [icon]="'pi-plus'"
            [text]="true"
            [title]="'자세히 보기'"
            (click)="onVacationMoreClick()"
          />
        </div>
      
        <div class="widget-box__container">
          <div class="widget-box__item p-2 bg-primary-50">
            <p class="widget-box__item-title">총 휴가일수</p>
            <p class="mt-2">
              <strong class="text-2xl text-primary">{{ vacationStatResponse?.countInfo.vacationTotalCount }}</strong>개
            </p>
          </div>
        
          <div class="widget-box__item p-2 bg-primary-50">
            <p class="widget-box__item-title">휴가 사용일수</p>
            <p class="mt-2">
              <strong class="text-2xl text-primary">{{ vacationStatResponse?.countInfo.vacationUseCount }}</strong>개
            </p>
          </div>
        
          <div class="widget-box__item p-2 bg-primary-50">
            <p class="widget-box__item-title">휴가 잔여일수</p>
            <p class="mt-2">
              <strong class="text-2xl text-primary">{{ vacationStatResponse?.countInfo.vacationRemainCount }}</strong>개
            </p>
          </div>
        </div>
      }
    </div>
  
    <div class="widget-box widget-box6">
      @if (!vacationStatResponseDataLoad) {
        <ui-skeleton />
        <ui-skeleton />
        <ui-skeleton />
      }
      @else {
        <div class="widget-box__title">
          <strong>휴가통계</strong>
          <ui-button
            [icon]="'pi-plus'"
            [text]="true"
            [title]="'자세히 보기'"
            (click)="onVacationMoreClick()"
          />
        </div>
    
        <div class="widget-box__container">
          <div class="widget-box__item flex">
            @if (vacationStatResponse?.statsList.length > 0) {
              <ul class="widget-box__item-list flex-grow-1 w-6">
                @for (i of vacationStatResponse?.statsList; track $index) {
                  <li>
                    <a
                      href="javascript:void(0)"
                      [title]="'클릭 시 월별로 얼마나 사용했는지 확인할 수 있어요.'"
                      [class.active]="i.vacationStatsId === statsItemClickId"
                      (click)="onStatsItemClick(i)"
                    >
                      <span class="mr-2 px-2 py-1 bg-primary-50 text-primary">{{ i.yyyy }}년</span>
                      {{ i.vacationTypeCodeName }} ({{ i.vacationUseCount }}개)
                    </a>
                  </li>
                }
              </ul>
  
              <ul class="flex flex-grow-1 flex-wrap gap-2 w-6">
                @for (i of vacationListByMonth; track $index) {
                  <li style="width: calc(50% - 0.5rem);">
                    <span class="inline-flex w-3rem mr-1 px-2 py-1 bg-primary-50 text-primary text-center">
                      {{ i.vacationMonth }}월
                    </span>
                    {{ i.vacationUseCount }}개
                  </li>
                }
              </ul>
            }
            @else {
              <p>아직 사용한 휴가가 없어요.</p>
            }
          </div>
        </div>
      }
    </div>
  
    <div class="widget-box widget-box7">
      @if (!vacationStatResponseDataLoad) {
        <ui-skeleton />
        <ui-skeleton />
        <ui-skeleton />
      }
      @else {
        <div class="widget-box__title">
          <strong>최근휴가</strong>
          <ui-button
            [icon]="'pi-plus'"
            [text]="true"
            [title]="'자세히 보기'"
            (click)="onVacationMoreClick()"
          />
        </div>
    
        <div class="widget-box__container">
          <div class="widget-box__item">
            @if (vacationStatResponse?.vacationList.length > 0) {
              <ul class="widget-box__item-list">
                @for (i of vacationStatResponse?.vacationList; track $index) {
                  <li>
                    <span class="mr-2 px-2 py-1 bg-primary-50 text-primary">{{ i.vacationTypeCodeName }}</span>
                    {{ ngDate(i.vacationStartYmd) | date: 'yyyy년 MM월 dd일' }} ~ {{ ngDate(i.vacationEndYmd) | date: 'yyyy년 MM월 dd일' }} ({{ i.vacationUseCount }}일)
                  </li>
                }
              </ul>
            }
            @else {
              <p>아직 사용한 휴가가 없어요.</p>
            }
          </div>
        </div>
      }
    </div>
  </div>
</div>