<div class="widget-wrapper">
  <div class="widget-box widget-box1">
    <div class="widget-box__title">
      <strong>휴가일수</strong>
    </div>
  
    <div class="widget-box__container">
      <div class="widget-box__item">
        <p class="widget-box__item-title">총 휴가일수</p>
        <p><strong class="text-2xl text-primary">15</strong>개</p>
      </div>
    
      <div class="widget-box__item">
        <p class="widget-box__item-title">휴가 사용일수</p>
        <p><strong class="text-2xl text-primary">2</strong>개</p>
      </div>
    
      <div class="widget-box__item">
        <p class="widget-box__item-title">휴가 잔여일수</p>
        <p><strong class="text-2xl text-primary">13</strong>개</p>
      </div>
    </div>
  </div>

  <div class="widget-box widget-box2">
    <div class="widget-box__title">
      <strong>연도별 휴가내역</strong>
    </div>

    <div class="widget-box__container">
      <div class="widget-box__item">
        <ul>
          <li><span class="mr-2 px-2 py-1 bg-primary-50 text-primary">2024년</span> 월차휴가 (6개)</li>
          <li><span class="mr-2 px-2 py-1 bg-primary-50 text-primary">2024년</span> 대체휴가 (1개)</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="widget-box widget-box3">
    <div class="widget-box__title">
      <strong>최근휴가</strong>
    </div>

    <div class="widget-box__container">
      <div class="widget-box__item">
        <ul>
          <li><span class="mr-2 px-2 py-1 bg-primary-50 text-primary">월차휴가</span> 20241227 ~ 20241227(1일)</li>
          <li><span class="mr-2 px-2 py-1 bg-primary-50 text-primary">월차휴가</span> 20241115 ~ 20241115(1일)</li>
          <li><span class="mr-2 px-2 py-1 bg-primary-50 text-primary">월차휴가</span> 20241011 ~ 20241011(1일)</li>
        </ul>
      </div>
    </div>
  </div>
</div>