@import 'styles/base/variables';

.widget {
  &-wrapper {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    flex-wrap: wrap;

    @media (min-width: $min-standard-width) {
      flex-wrap: nowrap;
    }
  }

  &-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;

    @media (min-width: $min-standard-width) {
      flex-direction: column;
    }

    &1 {
      width: 100%;

      @media (min-width: $min-standard-width) {
        width: calc(100% / 3);
      }
    }

    &2 {
      width: 100%;

      @media (min-width: $min-big-width) {
        width: calc(50% - 0.5rem);
      }

      @media (min-width: $min-standard-width) {
        width: calc(100% / 3);
      }

      .widget-box__container {
        display: block;
      }
    }

    &3 {
      width: 100%;

      @media (min-width: $min-big-width) {
        width: calc(50% - 0.5rem);
      }

      @media (min-width: $min-standard-width) {
        width: calc(100% / 3);
      }
    }
  }

  &-box {
    flex: 1;
    width: 100%;
    padding: 1.25rem;
    border-radius: 1.25rem;
    border: 1px solid var(--surface-300);
    background-color: var(--surface-0);
    box-shadow: rgba(0, 0, 0, 0.1) 1px 1px 0.625rem 0;

    &1 {
      .widget-box__container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
      }
    }

    &1,
    &2 {
      flex: none;
      width: 100%;

      @media (min-width: $min-medium-width) {
        flex: 1;
        width: calc(50% - 0.5rem);
      }

      @media (min-width: $min-standard-width) {
        width: 100%;
      }
    }

    &4,
    &5,
    &6 {
      flex: none;

      @media (min-width: $min-standard-width) {
        flex: 1;
      }
    }

    .p-tabview .p-tabview-panels {
      padding-left: 10px;
      padding-right: 10px;
      padding-bottom: 0;

      @media (min-width: $min-medium-width) {
        padding-bottom: 1.25rem;
      }
  
      @media (min-width: $min-standard-width) {
        padding-left: 1.25rem;
        padding-right: 1.25rem;
      }
    }

    &__title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid var(--surface-300);
      margin-bottom: 0.625rem;

      strong {
        font-weight: 700;
        font-size: 1.3rem;
      }
    }

    &__container {
      display: flex;
      flex-wrap: wrap;
      gap: 1rem;
    }

    &__item {
      flex: 1;

      &-profile {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 1rem;

        &__icon {
          display: flex;
          align-items: center;
          justify-content: center;
          overflow: hidden;
          width: 56px;
          height: 56px;
          border-radius: 50%;
          background-color: var(--primary-50);

          @media (min-width: $min-medium-width) {
            width: 4.375rem;
            height: 4.375rem;
          }
  
          i {
            font-size: 1.5rem;
          }
        }

        &__title {
          display: flex;
          justify-content: center;
          flex-wrap: wrap;
          font-weight: 700;
          font-size: 1.3rem;
          width: 100%;

          @media (min-width: $min-medium-width) {
            font-size: 1.5rem;
          }

          > span {
            display: block;
            width: 100%;
            margin-top: 0.25rem;
            font-weight: 400;
            font-size: 1.125rem;
            text-align: center;
          }
        }
      }

      &-list {
        overflow: auto;
        height: 6.25rem;
        padding: 0;

        &.type1 {
          > li {
            display: flex;
            align-items: center;
            position: relative;
            min-height: 1.75rem;
            padding-left: 5.1875rem;

            + li {
              margin-top: 0.5rem;
            }
          }
        }
      }

      li {
        a {
          &.active {
            color: var(--primary-color);
          }
        }
      }
    }

    &__article-list {
      padding: 0;

      &-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        gap: 1rem;

        & + & {
          margin-top: 0.625rem;
        }

        &__bottom {
          display: flex;
          justify-content: center;
          margin-top: 1rem;

          button {
            width: 30px;
            height: 30px;

            @media (min-width: $min-medium-width) {
              width: 2.357rem;
              height: 2.357rem;
            }
          }
        }

        a {
          display: block;
          flex: 1;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
      
          &:hover {
            text-decoration: underline;
          }
        }

        span {
          display: none;
          width: max-content;
          font-size: 0.9rem;
          text-align: right;

          @media (min-width: $min-mini-width) {
            display: block;
          }
        }
      }
    }
  }
}