<span *ngIf="label" class="custom-label">
  {{ label }}
</span>

<div class="search-input-button-box">
  <input
    pInputText
    [pTooltip]="tooltip"
    [tooltipPosition]="tooltipPosition"
    [type]="'text'"
    [name]="name"
    [readonly]="true"
    [formControl]="formControl"
    [placeholder]="placeholder"
    [class.block]="block"
    [class.text-left]="align === 'left'"
    [class.text-center]="align === 'center'"
    [class.text-right]="align === 'right'"
    [class.readonly]="readonly"
    (keyup)="setErrorMessage()"
    (blur)="setErrorMessage()"
  >
  <ui-button
    [icon]="'pi-search'"
    [severity]="'primary'"
    [title]="'회사 검색'"
    [ngStyle]="{ 'flex': '0' }"
    (click)="onSearch($event)"
  >
  </ui-button>
</div>

<div *ngIf="showErrorMessage && control.invalid && (control.dirty || control.touched)" class="input-message">
  {{ errorMessage }}
</div>