<span *ngIf="label" class="custom-label">
  {{ label }}
</span>

<div class="input-button-box">
  <p-dropdown
    [tooltip]="tooltip"
    [tooltipPosition]="tooltipPosition"
    [name]="name"
    [readonly]="readonly"
    [formControl]="formControl"
    [options]="data"
    [appendTo]="appendTo"
    [placeholder]="placeholder"
    [class.block]="block"
    [class.readonly]="readonly"
    (onChange)="setErrorMessage()"
    (onBlur)="setErrorMessage()"
  />
  <ng-content select="[button]"></ng-content>
</div>

<div *ngIf="control.invalid && (control.dirty || control.touched)" class="input-message">
  {{ errorMessage }}
</div>