<header class="layout-header" [class.scroll]="!isScrollDown" #header>
  <div class="layout-header__inner">
    <layout-site-title>
      svc
    </layout-site-title>

    <layout-menu />

    <div class="layout-header__right">
      <p class="layout-header__user-info">
        <layout-notification />
        <a [routerLink]="'/hm/my-info'" [queryParams]="{ menuId: 14 }">{{ user.employeeName }}</a> 님 반갑습니다
      </p>
      
      <ui-button [size]="'small'" (click)="logout()">
        로그아웃
      </ui-button>
    </div>
  </div>
</header>