<header class="layout-header">
  <div class="layout-header__inner">
    <layout-site-title>
      svc
    </layout-site-title>

    <layout-menu />

    <div class="layout-header__right">
      <p class="layout-header__user-info">
        <ui-router-link
          [routerLink]="'/human/mypage'"
          [queryParams]="{ menuId: 14 }"
        >
          <span>{{ user.userName }}</span>
        </ui-router-link>님 반갑습니다
      </p>
      
      <ui-button [size]="'small'" (click)="logout($event)">
        로그아웃
      </ui-button>
    </div>
  </div>
</header>