<header class="layout-header" [class.scroll]="!isScrollDown" #header>
  <div class="layout-header__inner">
    <layout-site-title>
      svc
    </layout-site-title>

    <layout-menu />

    <div class="layout-header__right">
      <p class="layout-header__user-info">
        <a [routerLink]="'/human/my-info'" [queryParams]="{ menuId: 14 }">{{ user.employeeName }}</a> {{ user.rankCodeName }} / {{ user.companyName }}
      </p>
      
      <ui-button [size]="'small'" (click)="logout($event)">
        로그아웃
      </ui-button>
    </div>
  </div>
</header>