<ui-split-form
  [form]="detailForm"
  [useRemove]="useRemove"
  (submit)="onSubmit($event)"
  (remove)="onRemove($event)"
  (close)="onClose()"
>
  <ui-hidden-field [control]="detailForm.get('workHistoryId')" />
  <ui-hidden-field [control]="detailForm.get('registrationNo')" />

  <ui-content-title [text]="'회사 정보'" />

  <div class="grid mt-2">
    <div class="col-4">
      <ui-company-field
        [control]="detailForm.get('companyName')"
        [label]="'회사명'"
      />
    </div>

    <div class="col-4">
      <ui-dropdown
        [control]="detailForm.get('rankCode')"
        [label]="'직위'"
        [data]="rankCodes"
      />
    </div>

    <div class="col-4">
      <ui-dropdown
        [control]="detailForm.get('jobTitleCode')"
        [label]="'직책'"
        [data]="jobTitleCodes"
      />
    </div>

    <div class="col-4">
      <ui-date-field
        [control]="detailForm.get('joinYmd')"
        [label]="'입사일자'"
        [dateFormat]="'yymmdd'"
        [placeholder]="'YYYYMMDD'"
      />
    </div>

    <div class="col-4">
      <ui-date-field
        [control]="detailForm.get('quitYmd')"
        [label]="'퇴사일자'"
        [dateFormat]="'yymmdd'"
        [placeholder]="'YYYYMMDD'"
      />
    </div>
  </div>
</ui-split-form>