<ui-split-form
  [form]="companyDetailForm"
  [useRemove]="useRemove"
  (submit)="onSubmit($event)"
  (remove)="onRemove($event)"
  (close)="onClose()"
>
  <ui-hidden-field [control]="companyDetailForm.get('workHistoryId')" />

  <ui-content-title [text]="'회사 정보'" />

  <div class="input-box">
    <ui-company-field
      [control]="companyDetailForm.get('companyName')"
      [label]="'회사명'"
    />

    <ui-dropdown
      [control]="companyDetailForm.get('rankCode')"
      [label]="'직위'"
      [data]="rankCodes"
    />

    <ui-dropdown
      [control]="companyDetailForm.get('jobTitleCode')"
      [label]="'직책'"
      [data]="jobTitleCodes"
    />
  </div>

  <div class="input-box">
    <ui-dropdown
      [control]="companyDetailForm.get('annualTypeCode')"
      [label]="'연차발생기준'"
      [tooltip]="'잘 모르겠다면 기타를 입력하시기 바랍니다.'"
      [tooltipPosition]="'bottom'"
      [data]="annualTypeCodes"
    />

    <ui-date-field
      [control]="companyDetailForm.get('joinYmd')"
      [label]="'입사일자'"
      [dateFormat]="'yymmdd'"
    />

    <ui-date-field
      [control]="companyDetailForm.get('quitYmd')"
      [label]="'퇴사일자'"
      [dateFormat]="'yymmdd'"
    />
  </div>
</ui-split-form>