<div class="ui-table__buttons" [class.has-title]="title">
  <div>
    @if (title) {
      <ui-content-title [text]="title" />
    }
  
    @if (text) {
      <div [innerHTML]="text" class="mt-2"></div>
    }
  </div>

  <div class="ui-table__buttons-right">
    <ng-content></ng-content>

    <ui-button *ngIf="useAdd"
      [size]="'small'"
      [icon]="'pi-plus'"
      [label]="'행 추가'"
      [outlined]="true"
    />
    
    <ui-button *ngIf="useRemove"
      [size]="'small'"
      [icon]="'pi-minus'"
      [label]="'행 삭제'"
      [outlined]="true"
    />
    
    <ui-button *ngIf="useRefresh"
      [size]="'small'"
      [severity]="'success'"
      [icon]="'pi-refresh'"
      [label]="'새로고침'"
      [outlined]="true"
      (click)="onRefresh($event)"
    />
    
    <ui-button *ngIf="useExportExcel"
      [size]="'small'"
      [severity]="'success'"
      [icon]="'pi-file-excel'"
      [title]="'엑셀 다운로드'"
      (click)="onExportExcel($event)"
    />
  </div>
</div>