.layout-page-description {
  margin-bottom: 1.25rem;
  padding: 1rem;
  background-color: var(--primary-50);

  ul {
    padding-left: 1.5rem;
    list-style: disc;

    li {
      line-height: 1.5;
    }
  }
}
