// 미디어쿼리 (max-width)
$general-width: 1920 !default;
$normal-width: 1600 !default;
$standard-width: 1420 !default;
$large-width: 1200 !default;
$big-width: 1024 !default;
$medium-width: 768 !default;
$middle-width: 640 !default;
$small-width: 560 !default;
$minimal-width: 480 !default;
$mini-width: 380 !default;
$tiny-width: 320 !default;

// 미디어쿼리 (min-width)
$min-general-width: calc($general-width / 16) + 0em !default;
$min-normal-width: calc($normal-width / 16) + 0em !default;
$min-standard-width: calc($standard-width / 16) + 0em !default;
$min-large-width: calc($large-width / 16) + 0em !default;
$min-big-width: calc($big-width / 16) + 0em !default;
$min-medium-width: calc($medium-width / 16) + 0em !default;
$min-middle-width: calc($middle-width / 16) + 0em !default;
$min-small-width: calc($small-width / 16) + 0em !default;
$min-minimal-width: calc($minimal-width / 16) + 0em !default;
$min-mini-width: calc($mini-width / 16) + 0em !default;
$min-tiny-width: calc($tiny-width / 16) + 0em !default;

// font
$default-font: 'Pretendard-Regular' !default;
